/*
CSS Reset for Editor
Î¬»¤£ºÓñ²®(lifesinger@gmail.com)
*/


/* require(reset.css) */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,lengend,button,input,textarea,th,td{margin:0;padding:0;}body,button,input,select,textarea{font:12px/100% Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;}h1{font-size:18px;}h2{font-size:16px;}h3{font-size:14px;}h4,h5,h6{font-size:100%;}address,cite,dfn,em,var{font-style:normal;}code,kbd,pre,samp,tt{font-family:"Courier New",Courier,monospace;}small{font-size:12px;}ul,ol{list-style:none;}a{text-decoration:none;}a:hover{text-decoration:underline;}abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help;}q:before,q:after{content:'';}legend{color:#000;}fieldset,img{border:none;}button,input,select,textarea{font-size:100%;}table{border-collapse:collapse;border-spacing:0;}hr{border:none;height:1px;}
em { font-style: italic; } 


/* editor reset */
body {
    font: 13px/1.5 Verdana,sans-serif;
    padding: 6px;
    padding /*\**/: 6px 0\9
}

a {
    /* blue is more readable for link */
    color: blue;
    text-decoration: underline;
}

ul, ol, dl {
	/* giving lists room to breath */
	margin: 1em;
}
ul, ol, dl {
	/* bringing lists on to the page with breathing room */
	margin-left: 2em;
}
ol li {
	/* giving OL's LIs generated numbers */
	list-style: decimal outside;
}
ul li {
	/* giving UL's LIs generated disc markers */
	list-style: disc outside;
}
dl dd {
	/* providing spacing for definition terms */
	margin-left: 1em;
}
th,td {
	/* padding to make the table readable */
	padding: .5em;
}
caption {
	/* coordinated margin to match cell's padding */
	margin-bottom: .5em;
}
p, fieldset, table, pre {
	/* so things don't run into each other */
	margin-bottom: 1em;
}
blockquote {
    margin-left: 30px;
    padding: 10px;
    border: 1px dashed #ddd;
}
h1, h2, h3 {
    margin: 0.67em 0;
}

a img {
    border: 2px solid blue;
}