/**
 * Styles for Editor
 */

/** common **/
.kissy-inline-block {
    position: relative;
    display: inline-block;
}

* html .kissy-inline-block {
    display: inline;
}

*:first-child+html .kissy-inline-block {
    display: inline;
}

html>body .kissy-inline-block {
    display: -moz-inline-box;
    display: inline-block;
}
/* TODO 仔细检查上面的 hack 是否有些可以去掉 */

/** editor **/
.kissy-editor {
    border: 1px solid #DFDFDF;
}

/** toolbar **/
.kissy-editor-toolbar {
    background: #E5E5E5 url(editor-bg.png) repeat-x 0 -192px;
    padding: 3px 0;
    border-bottom: 1px solid #DFDFDF;
    line-height: 1;
    zoom: 1;
    /* 高度自适应，正常情况下，单行高度 23px */
}

.kissy-toolbar-button {
    margin: 0 2px;
    vertical-align: middle;
}

.kissy-toolbar-button-outer-box {
    padding: 1px 0;
}

.kissy-toolbar-button-inner-box {
    margin: 0 -1px;
    padding: 3px 5px;
}

/* 悬浮边框 */
.kissy-toolbar-button:hover .kissy-toolbar-button-outer-box,
.kissy-toolbar-button-hover .kissy-toolbar-button-outer-box,
.kissy-toolbar-button:hover .kissy-toolbar-button-inner-box,
.kissy-toolbar-button-hover .kissy-toolbar-button-inner-box {
    border: 1px solid #A1BADF;
}

.kissy-toolbar-button:hover .kissy-toolbar-button-outer-box,
.kissy-toolbar-button-hover .kissy-toolbar-button-outer-box {
    border-width: 1px 0;
    padding: 0;
}

.kissy-toolbar-button:hover .kissy-toolbar-button-inner-box,
.kissy-toolbar-button-hover .kissy-toolbar-button-inner-box {
    border-width: 0 1px;
    padding: 3px 4px;
}

.kissy-toolbar-item {
    display: block;
    background: url(toolbar-sprite.png) no-repeat;
    width: 15px;
    height: 14px;
    vertical-align: middle;
    text-indent: -999999px;
    overflow: hidden;
}
.kissy-toolbar-bold { background-position: -32px 0; }
.kissy-toolbar-italic { background-position: -48px 0; }
.kissy-toolbar-underline { background-position: -64px 0; }
.kissy-toolbar-insertOrderedList { background-position:-176px 0; }
.kissy-toolbar-insertUnorderedList { background-position: -160px 0; }
.kissy-toolbar-outdent { background-position: -144px 0; }
.kissy-toolbar-indent { background-position:-128px 0; }
.kissy-toolbar-justifyLeft { background-position: -192px 0; }
.kissy-toolbar-justifyCenter { background-position:-208px 0; }
.kissy-toolbar-justifyRight { background-position:-224px 0; }
.kissy-toolbar-foreColor { height: 12px; background-position:-80px 50%; }
.kissy-toolbar-backColor { height: 12px; background-position:-96px 50%; }

/* 分隔线 */
.kissy-toolbar-separator {
    margin: 0 2px;
    width: 0;
    height: 16px;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #F7F7F7;
    vertical-align: middle;
}

/* 下拉按钮 caption */
.kissy-toolbar-menu-button-caption {
    padding: 0 4px 0 0;
    vertical-align: middle;
}

/* 下拉按钮 dropdown */
.kissy-toolbar-menu-button-dropdown {
    background: url(toolbar-sprite.png) no-repeat -388px 50%;
    width: 7px;
    height: 14px;
    vertical-align: middle;
}

/* 颜色按钮 */
.kissy-toolbar-color-button .kissy-toolbar-button-inner-box,
.kissy-toolbar-color-button:hover .kissy-toolbar-button-inner-box,
.kissy-toolbar-color-button-hover .kissy-toolbar-button-inner-box {
    padding-top: 2px;
    padding-bottom: 2px;
}

.kissy-toolbar-color-button-indicator {
    border-bottom: 4px solid #F0F0F0;
}

/* 按钮按下时的样式 active */
.kissy-toolbar-button-active {
    background-color: #DDE1EB;
}
.kissy-toolbar-button-active .kissy-toolbar-outer-box,
.kissy-toolbar-button-active .kissy-toolbar-inner-box {
    border-color: #729BD1;
}