/**
 * Styles for KISSY Editor
 */

/** common **/
.ks-inline-block {
    position: relative;
    display: inline-block;
}

* html .ks-inline-block {
    display: inline;
}

*:first-child+html .ks-inline-block {
    display: inline;
}

html>body .ks-inline-block {
    display: -moz-inline-box;
    display: inline-block;
}
/* TODO 仔细检查上面的 hack 是否有些可以去掉 */

/* 清除浮动 */
.ks-clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
}
.ks-clearfix { *zoom: 1; }

/** editor **/
.ks-editor {
    border: 1px solid #DFDFDF;
    line-height: 1 !important; /* bug fix: 否则 firefox 等浏览器下，editor 的高度会多于一些 */
}

/** toolbar **/
.ks-editor-toolbar {
    background: #E5E5E5 url(editor-bg.png) repeat-x 0 -192px;
    padding: 3px 3px 2px;
    *padding-bottom: 1px;
    border-bottom: 1px solid #DFDFDF;
    line-height: 1;
    position: relative; overflow: hidden; /* 解决 inner-box margin: 0 -1px 导致的横向滚动条 bug */
    zoom: 1;
    /* 高度自适应，正常情况下，单行高度 23px */
}

.ks-editor-toolbar-button {
    margin: 0 2px;
    vertical-align: middle;
    cursor: default;
    white-space: nowrap;
    /* 防止双击 link 类标签时，文字被选中 */
    -moz-user-select: none;
}

.ks-editor-toolbar-button-outer-box {
    padding: 1px 0;
}

.ks-editor-toolbar-button-inner-box {
    margin: 0 -1px;
    padding: 3px 5px;
    _left: -1px;
}

/* 悬浮边框 */
.ks-editor-toolbar-button:hover .ks-editor-toolbar-button-outer-box,
.ks-editor-toolbar-button-hover .ks-editor-toolbar-button-outer-box,
.ks-editor-toolbar-button:hover .ks-editor-toolbar-button-inner-box,
.ks-editor-toolbar-button-hover .ks-editor-toolbar-button-inner-box {
    border: 1px solid #A1BADF;
}

.ks-editor-toolbar-button:hover .ks-editor-toolbar-button-inner-box,
.ks-editor-toolbar-button-hover .ks-editor-toolbar-button-inner-box,
.ks-editor-toolbar-select .ks-editor-toolbar-button-inner-box {
    border-width: 0 1px;
    padding: 3px 4px;
}

.ks-editor-toolbar-button:hover .ks-editor-toolbar-button-outer-box,
.ks-editor-toolbar-button-hover .ks-editor-toolbar-button-outer-box,
.ks-editor-toolbar-select .ks-editor-toolbar-button-outer-box {
    border-width: 1px 0;
    padding: 0;
}

.ks-editor-toolbar-item {
    display: block;
    background: url(toolbar-sprite.png) no-repeat;
    width: 15px;
    height: 14px;
    vertical-align: middle;
    text-indent: -999999px;
    overflow: hidden;
}
.ks-editor-toolbar-source { background-position: -1013px 50%; width: 16px; }
.ks-editor-toolbar-undo { background-position: 0 50%; }
.ks-editor-toolbar-redo { background-position: -16px 50%; }
.ks-editor-toolbar-bold { background-position: -32px 50%; }
.ks-editor-toolbar-italic { background-position: -48px 50%; }
.ks-editor-toolbar-underline { background-position: -64px 50%; }
.ks-editor-toolbar-strikeThrough { background-position: -624px 50%; }

.ks-editor-toolbar-link { background-position: -560px 50%; width: 16px; }
/* 文字版按钮
.ks-editor-toolbar-link {
    background: none;
    text-indent: 0;
    color: #009;
    text-decoration: underline;
    font: bold 12px Arial,sans-serif;
    height: 15px;
    width: auto;
}
*/
.ks-editor-toolbar-blockquote { background-position:-241px 50%; }
.ks-editor-toolbar-image { background-position:-978px 50%; width: 18px; }
.ks-editor-toolbar-smiley { background-position:-961px 50%; width: 16px; }

.ks-editor-toolbar-insertOrderedList { background-position:-176px 50%; }
.ks-editor-toolbar-insertUnorderedList { background-position: -160px 50%; }
.ks-editor-toolbar-outdent { background-position: -144px 50%; }
.ks-editor-toolbar-indent { background-position:-128px 50%; }
.ks-editor-toolbar-justifyLeft { background-position: -192px 50%; }
.ks-editor-toolbar-justifyCenter { background-position:-208px 50%; }
.ks-editor-toolbar-justifyRight { background-position:-224px 50%; }
.ks-editor-toolbar-foreColor { height: 12px; background-position:-80px 50%; }
.ks-editor-toolbar-backColor { height: 12px; background-position:-96px 50%; }
.ks-editor-toolbar-maximize { background-position:-996px 50%; }
.ks-editor-toolbar-removeformat { background-position:-256px 50%; }

/* 工具条的分隔线 */
.ks-editor-stripbar-sep {
    margin: 0 2px;
    width: 0;
    height: 16px;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #F7F7F7;
    vertical-align: middle;
}

/* 下拉按钮 caption */
.ks-editor-toolbar-menu-button-caption {
    padding: 0 4px 0 0;
    vertical-align: middle;
}

/* 下拉按钮 dropdown */
.ks-editor-toolbar-menu-button-dropdown {
    background: url(toolbar-sprite.png) no-repeat -388px 50%;
    width: 7px;
    height: 14px;
    vertical-align: middle;
}

/* 颜色按钮 */
.ks-editor-toolbar-color-button .ks-editor-toolbar-button-inner-box,
.ks-editor-toolbar-color-button:hover .ks-editor-toolbar-button-inner-box,
.ks-editor-toolbar-color-button-hover .ks-editor-toolbar-button-inner-box {
    padding-top: 2px;
    padding-bottom: 2px;
}

.ks-editor-toolbar-color-button-indicator {
    border-bottom: 4px solid #F0F0F0;
}

/* 按钮按下时的样式 active */
.ks-editor-toolbar-button-active {
    background-color: #DDE1EB;
}
.ks-editor-toolbar-button-active .ks-editor-toolbar-outer-box,
.ks-editor-toolbar-button-active .ks-editor-toolbar-inner-box {
    border-color: #729BD1;
}

/* 下拉菜单框 */
.ks-editor-drop-menu {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    z-index: 9002;
}
.ks-editor-drop-menu-shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    right: -2px;
    bottom: -2px;
    background-color: #000;
    opacity: .1;
    filter: alpha(opacity=10);
    z-index: -1;
    _display: none;
}
.ks-editor-drop-menu-content {
    border: 1px solid #ccc;
    /*border-right-color: #676767;
    border-bottom-color: #676767;*/
    padding: 3.5px 0 0 0;
    color: #333;
    background-color: #fff;
}
.ks-editor-drop-menu-shim {
    z-index: 9001;
}

/* 取色板 */
.ks-editor-palette-table {
    margin: 5px 8px 8px; /* ie7- 下，table 的 margin 无效，因此外面在包裹一层 div */
}
.ks-editor-palette-table table {
    border: 1px solid #666;
    border-collapse: collapse;
    *border-right: 0;
}
.ks-editor-palette-cell {
    border-right: 1px solid #666;
    height: 18px;
    width: 18px;
    cursor: pointer;
    *position: relative; /* hack for ie7- 否则边框隐藏不了 */
}

.ks-editor-palette-colorswatch {
    height: 18px;
    width: 18px;
}

.ks-editor-palette-cell-selected .ks-editor-palette-colorswatch {
    background: url(toolbar-sprite.png) no-repeat -368px 50%;
    border: 1px solid #333333;
    height: 16px;
    width: 16px;
}

/* toolbar-select */
.ks-editor-toolbar-select .ks-editor-toolbar-button-outer-box,
.ks-editor-toolbar-select .ks-editor-toolbar-button-inner-box {
    border-color: #BFCBDF;
    border-style: solid;
}

.ks-editor-toolbar-select .ks-editor-toolbar-item {
    background: none;
    text-indent: 0;
    color: #246;
    font: 12px Arial,sans-serif;
    height: 15px;
    width: auto;
}

.ks-editor-option {
    cursor: default;
    margin: 0;
    padding: 5px 15px;
    color: #00C;
    line-height: 1;
}
.ks-editor-drop-menu-fontName .ks-editor-option {
    font-size: 14px;
    _width: 110px;
}
.ks-editor-drop-menu-fontSize .ks-editor-option {
    _width: 40px;
}

.ks-editor-toolbar-select .ks-editor-toolbar-fontName {
    width: 91px;
}

.ks-editor-toolbar-select .ks-editor-toolbar-fontSize {
    width: 35px;
}

.ks-editor-option-selected {
    background: url(check.gif) no-repeat 0 50%;
}

.ks-editor-option:hover,
.ks-editor-option-hover {
    background-color: #E0EDFE;
}

.ks-editor-drop-menu-fontSize {
    text-align: center;
}

/* view source */
.ks-editor textarea {
    font: 13px/150% "Courier New",monospace;
    padding: 0;
    border: none;
}

/* link */
.ks-editor-link {
    padding: 10px;
}
.ks-editor-link label {
    width: 40px;
    text-align: right;
    display: inline-block;
    zoom: 1;
    margin-right: 10px;
    vertical-align: middle;    
}
.ks-editor-link li {
    margin: 0 0 10px;
}
.ks-editor-link input {
    padding: 2px 1px;
    vertical-align: middle;
}
.ks-editor-link-target input {
    margin-left: 50px;
    padding: 0 10px 0 0;
}
.ks-editor-link .ks-editor-dialog-actions {
    padding: 0 5px 0 45px;
    height: 25px;
    line-height: 30px;
    margin-bottom: 0;
}
.ks-editor-link-actions button {
    margin: 0 5px;
    padding: 1px 0.8em 0;
    *padding: 2px 0.8em 1px;
    float: left;
}
.ks-editor-link-remove {
    color: #00c;
    cursor: pointer;
    float: right;
    line-height: 23px;
}
.ks-editor-link-newlink-mode .ks-editor-link-remove {
    display: none;
}
.ks-editor-link form {
    width: 275px;
}

/* image */
.ks-editor-image {
    padding: 10px 0;
    _width: 282px;
}
.ks-editor-image-tabs {
    padding-left: 10px;
}
.ks-editor-image-tabs li {
    float: left;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    border-bottom: none;
    height: 21px;
    line-height: 21px;
    width: 60px;
    margin-left: 5px;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: 1px;
}
li.ks-editor-image-tab-selected {
    border-color: #ccc;
    cursor: default;
    border-bottom: 1px solid #fff;
}
.ks-editor-image-tab-content {
    padding: 10px 20px;
    border-top: 1px solid #ccc;
}
.ks-editor-image-no-tab .ks-editor-image-tabs {
    display: none;
}
.ks-editor-image-no-tab .ks-editor-image-tab-content {
    border-top: none;
    padding: 0 10px 10px;
}
.ks-editor-image label {
    margin: 5px 0;
    display: block;
}
.ks-editor-image input {
    padding: 2px 1px;
    vertical-align: middle;
}
.ks-editor-image .ks-editor-dialog-actions {
    padding-left: 15px;
    overflow: hidden;
    zoom: 1;
}
.ks-editor-image label input {
    margin-right: 5px;
}
.ks-editor-image-uploading {
    padding: 20px 10px 10px;
    border-top: 1px solid #ccc;
}
.ks-editor-image-uploading p {
    background: url(uploading.gif) no-repeat 0 0;
    padding-top: 30px;
}
/* smiley */
.ks-editor-smiley-icons {
    padding: 5px;
}
.ks-editor-smiley-icons img {
    cursor: pointer;
    margin: 2px 5px;
    border: 1px solid #fff;
}
.ks-editor-smiley-dialog {
    padding: 8px 5px 10px;
}
.ks-editor-smiley-sprite span {
    display: block;
    float: left;
    cursor: pointer;
    border: 1px solid #fff;
}
.ks-editor-smiley-icons img:hover,
.ks-editor-smiley-sprite span:hover {
    border: 1px solid #808080;
}

/* dialog common */
.ks-editor-dialog-actions button {
    float: left;
    margin: 0 5px;
    padding: 1px 0.8em 0;
    *padding: 2px 0.8em 1px;
}
.ks-editor-btn-cancel {
    float: left;
    color: #00c;
    cursor: pointer;
    margin: 0 10px;
    line-height: 23px;
}

/* maximize */
.ks-editor-maximize-mode {
    position: fixed;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 9000;
}
.ks-editor-maximize-mode .ks-editor-content,
.ks-editor-maximize-mode textarea {
    width: 100% !important;
    height: 100% !important;
}

/** statusbar **/
.ks-editor-statusbar {
    position: relative;
    background-color: #E5E5E5;
    padding: 4px 0 5px;
    border-top: 1px solid #DFDFDF;
    height: 16px;
    line-height: 16px;
    zoom: 1;
    /* 高度自适应，正常情况下，单行高度 23px */
}

.ks-editor-statusbar-item {
    margin: 0 2px;
    padding: 2px 0;
    vertical-align: middle;
    white-space: nowrap;
}

.ks-editor-wordcount {
    padding-left: 3px;
}
.ks-editor-wordcount em {
    font-weight: bold;
    color: #333;
}
.ks-editor-wordcount-alarm em {
    color: #f00;
}

/** resize **/
.ks-editor-resize {
    position: absolute;
    right: 0;
    top: 3px;
    background: url(resize.png) no-repeat 0 0;
    width: 50px;
}
.ks-editor-resize span {
    text-indent: -999999px;
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 3px;
}

/* textarea */
.ks-editor-content textarea {
    /*去掉 webkit 浏览器添加的 resize 和聚焦时的 outline*/
    resize: none; outline: none;
    border: 0;
}