src/
build/editor/
build/editor.js
*-min.*
tools/
docs/
node_modules/
reports/
bin/tests/
nohup.out
*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.log
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
out/
tmp/