/*
 * Copyright 2007 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/* Author: arv@google.com (Erik Arvidsson) */
/* Author: eae@google.com (Emil A Eklund) */
/* Author: jonp@google.com (Jon Perlow) */

/*
  TODO(arv): Currently the sprite image has the height 16px. We should make the
  image taller which would allow better flexibility when it comes to the height
  of a tree row.
*/
.ks-tree-root:focus {
  -moz-outline: none;
  outline: none;
}

.ks-tree-row {
  white-space: nowrap;
  font: icon;
  line-height: 16px;
  height: 16px;
}

.ks-tree-row span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.ks-tree-children {
  background-repeat: repeat-y;
  background-image: url("I.png") !important;
  background-position-y: 1px !important;	/* IE only */
  font: icon;
}

.ks-tree-children-nolines {
  font: icon;
}

.ks-tree-icon {
  background-image: url("tree.png");
}

.ks-tree-expand-icon {
  vertical-align: middle;
  height: 16px;
  width: 16px;
  cursor: default;
}

.ks-tree-expand-icon-plus {
  width: 19px;
  background-position: 0 0;
}

.ks-tree-expand-icon-minus {
  width: 19px;
  background-position: -24px 0;
}

.ks-tree-expand-icon-tplus {
  width: 19px;
  background-position: -48px 0;
}

.ks-tree-expand-icon-tminus {
  width: 19px;
  background-position: -72px 0;
}

.ks-tree-expand-icon-lplus {
  width: 19px;
  background-position: -96px 0;
}

.ks-tree-expand-icon-lminus {
  width: 19px;
  background-position: -120px 0;
}

.ks-tree-expand-icon-t {
  width: 19px;
  background-position: -144px 0;
}

.ks-tree-expand-icon-l {
  width: 19px;
  background-position: -168px 0;
}

.ks-tree-expand-icon-blank {
  width: 19px;
  background-position: -168px -24px;
}

.ks-tree-collapsed-folder-icon {
  vertical-align: middle;
  height: 16px;
  width: 16px;
  background-position: -0px -24px;
}

.ks-tree-expanded-folder-icon {
  vertical-align: middle;
  height: 16px;
  width: 16px;
  background-position: -24px -24px;
}

.ks-tree-file-icon {
  vertical-align: middle;
  height: 16px;
  width: 16px;
  background-position: -48px -24px;
}

.ks-tree-item-content {
  margin-left: 3px;
  padding: 1px 2px 1px 2px;
  text-decoration: none;
  color: WindowText;
  cursor: default;
}

.ks-tree-item-content:hover {
  text-decoration: underline;
}

.selected .ks-tree-item-content {
  background-color: ButtonFace;
  color: ButtonText;
}

.focused .selected .ks-tree-item-content {
  background-color: Highlight;
  color: HighlightText;
}

.ks-tree-hide-root {
  display: none;
}
