.ks-scroll-view {
    overflow: hidden !important;
    position: relative;
    /*do not use move cursor of dd*/
    cursor: default;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-drag: none;
    -ms-touch-action:none;
}

.ks-scroll-view-hidden{
    display: none;
}

.ks-scroll-view-content {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    -webkit-user-drag: none;
}

.ks-ie7 .ks-scroll-view-content {
    width: 0;
    height: 0;
}

.ks-ie6 .ks-scroll-view-content {
    height: expression(Math.max(this.parentNode.clientHeight,this.scrollHeight));
    width: expression(Math.max(this.parentNode.clientWidth,this.scrollWidth));
}

/**
* 华丽的样式: nice theme
* @author yiminghe@gmail.com
*/

.ks-scrollbar {
    z-index: 9;
    position: absolute;
}

/*轨道*/
.ks-scrollbar-y-track,
.ks-scrollbar-y-arrow-up,
.ks-scrollbar-y-arrow-down,
.ks-scrollbar-y-drag,
.ks-scrollbar-y,
.ks-scrollbar-y-drag-top,
.ks-scrollbar-y-drag-bottom,
.ks-scrollbar-y-drag-center {
    width: 15px;
}

.ks-scrollbar-y {
    top: 0;
    right: 0;
    bottom: 0;
    _height: expression(this.parentNode.clientHeight);
    background-image: url(http://img02.taobaocdn.com/tps/i2/T1okQlXnJkXXaFKXYX-15-1.png);
    background-repeat: repeat-y;
}

/*轨道*/
.ks-scrollbar-y-track {
    position: absolute;
    top: 14px;
    bottom: 14px;
    _height: expression(this.parentNode.clientHeight-28);
}

/*上下箭头 这个样式木有*/
.ks-scrollbar-y-arrow-up, .ks-scrollbar-y-arrow-down {
    text-indent: -1000px;
    height: 14px;
    font-size: 0;
    position: absolute;
    overflow: visible;
}

.ks-scrollbar-y-arrow-down a {
    margin-top: -10px;
    _margin-top: 0;
}

.ks-scrollbar-y-arrow-up a, .ks-scrollbar-y-arrow-down a {
    display: block;
    height: 24px;
    background-repeat: no-repeat;
}

.ks-scrollbar-y-arrow-up a {
    background-image: url(http://img01.taobaocdn.com/tps/i1/T1l2..XkBgXXan3RTX-140-24.png);
    background-position: -125px 0;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src = 'http://img04.taobaocdn.com/tps/i4/T1_FdaXE8cXXcU.1HX-15-24.png'); /* IE6 */
    _ background-image : none; /* IE6 */

}

.ks-scrollbar-y-arrow-up {
    top: 0;
}

.ks-scrollbar-y-arrow-down {
    bottom: 0;
}

.ks-scrollbar-y-arrow-down a {
    background-image: url(http://img01.taobaocdn.com/tps/i1/T1l2..XkBgXXan3RTX-140-24.png);
    background-position: -75px 0;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src = 'http://img01.taobaocdn.com/tps/i1/T1tCdXXtRdXXcU.1HX-15-24.png'); /* IE6 */
    _ background-image : none; /* IE6 */
}

/*拖拽条*/
.ks-scrollbar-y-drag, .ks-scrollbar-y-drag-top, .ks-scrollbar-y-drag-bottom, .ks-scrollbar-y-drag-center {
    position: absolute;
}

.ks-scrollbar-y-drag-top {
    top: 0;
    height: 10px;
    overflow: hidden;
    background-image: url(http://img01.taobaocdn.com/tps/i1/T1l2..XkBgXXan3RTX-140-24.png);
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src = 'http://img02.taobaocdn.com/tps/i2/T1A0JaXAJbXXcbkuzX-15-10.png'); /* IE6 */
    _ background-image : none; /* IE6 */
    background-position: -50px 0;
}

.ks-scrollbar-y-drag-bottom {
    position: absolute;
    bottom: 0;
    height: 10px;
    overflow: hidden;
    background-image: url(http://img01.taobaocdn.com/tps/i1/T1l2..XkBgXXan3RTX-140-24.png);
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src = 'http://img01.taobaocdn.com/tps/i1/T1Sk4XXB4cXXcbkuzX-15-10.png'); /* IE6 */
    _ background-image : none; /* IE6 */
    background-position: 0 0;
}

.ks-scrollbar-y-drag-center {
    top: 10px;
    bottom: 10px;
    overflow: hidden;
    _height: expression(this.parentNode.clientHeight-20);
    background-image: url(http://img04.taobaocdn.com/tps/i4/T1DNBXXy0dXXaFKXYX-15-1.png);
    background-repeat: repeat-y;
}

.ks-scrollbar-x {
    bottom: 0;
    width: 100%;
}

.ks-scrollbar-hidden {
   visibility: hidden;
}

.ks-scrollbar-x-track,
.ks-scrollbar-x-drag,
.ks-scrollbar-x {
    height: 6px;
}

.ks-scrollbar-x-arrow-up,
.ks-scrollbar-x-arrow-down {
    display: none;
}

.ks-scrollbar-x-track {
    position: absolute;
    left: 0;
    right: 0;
    _width: expression(this.parentNode.clientWidth)
}

.ks-scrollbar-x-drag {
    position: absolute;
    background: #333;
    border-radius: 3px;
    opacity: 0.5;
}

.ks-ie6 .ks-scrollbar-x-drag,
.ks-ie7 .ks-scrollbar-x-drag,
.ks-ie8 .ks-scrollbar-x-drag {
    filter: alpha(opacity = 50);
}