<div id="welcome">
	<img id="welcomeLogo" src="resources/images/logo-big.png">
	<div id="intro">
		<h1>KISSY 1.4 Documentation</h1>
		<p>
			<a href="http://kissyui.com/">KISSY</a> is a powerfull javascript framework for building cross end web application
            such as desktop, mobile and pad.
		</p>
	</div>

	<div id="popular">
		<h2>Guides</h2>
		<ul>
			<li>
				<dl>
					<dt>
						<a href="#!/guide">KISSY 1.4 Developer's Guide</a>
					</dt>
					<dd>
						Learn how to use KISSY efficiently
					</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>
						<a href="#!/example">KISSY 1.4 Example</a>
					</dt>
					<dd>
						Demo about KISSY 1.4
					</dd>
				</dl>
			</li>
		</ul>

		<h2 style="clear:both">Popular API pages</h2>
		<ul>
			<li>
				<dl>
					<dt>
						<a href="#!/api">API Index</a>
					</dt>
					<dd>
						The full JavaScript API documentation.
					</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>
						<a href="#!/api/KISSY">KISSY Object</a>
					</dt>
					<dd>
						The main namespace.
					</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>
						<a href="#!/api/KISSY-method-config">Configuration Reference</a>
					</dt>
					<dd>
						<code>KISSY.config</code>, with all configuration settings.
					</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>
						<a href="#!/api/KISSY-method-use">KISSY Module System</a>
					</dt>
					<dd>
						Call KISSY.use to use various KISSY Modules.
					</dd>
				</dl>
			</li>
		</ul>
	</div>

	<div id="resources">
		<h2>Other references</h2>
		<ul class="blist">
            <li><a target="_blank" href="?mobile">Mobile/Printable Edition</a></li>
			<li><a target="_blank" href="http://kissyui.com">KISSY Official Website</a></li>
			<li><a target="_blank" href="http://gallery.kissyui.com">KISSY Gallery Website</a></li>
			<li><a target="_blank" href="https://github.com/kissyteam/kissy">KISSY on Github</a></li>
			<li><a target="_blank" href="https://groups.google.com/group/kissy-ui">Support Forums</a></li>
			<li>KISSY on <a href="https://twitter.com/kissyteam" target="_blank">Twitter</a>,
                <a href="http://weibo.com/kissyteam" target="_blank">Weibo</a> and
                <a href="mailto:kissyteam@gmail.com" target="_blank">Email</a></li>
		</ul>
	</div>

	<div id="license">
		<h2>License</h2>
		<p>
			KISSY is distributed under the <a href="http://github.com/kissyteam/kissy/blob/master/LICENSE.md">MIT</a> Open Source license.
		</p>
	</div>

	<div id="contribute">
		<h2>Contribute</h2>
		<p>
            KISSY is an Open Source project so your contribution is welcome.
			Fell free to <a href="https://github.com/kissyteam/kissy/issues">report bugs</a> or improve the
			code on <a href="https://github.com/kissyteam/kissy">Github</a>.
		</p>
	</div>
</div>
