/**
kissy editor cool theme
@authoryiminghe@gmail.com
**/
/*
编辑器容器
*/
.ks-editor {
    background: white;
    border: 1px solid rgb(206, 213, 224);
    font-size: 13px;
    line-height: 1.2;
    _font-size: 12px;
}

/*
textarea,iframe包装
*/
.ks-editor-textarea-wrap {
    overflow: hidden;
}

.ks-editor-textarea-wrap textarea {
    border-width: 0;
    margin: 0;
    padding: 0;
}

/*
工具栏
*/
.ks-editor-tools {
    background-color: rgb(245, 247, 250);
    background: -webkit-gradient(linear, left top, left bottom, from(#f8fafd), to(#f2f5f8));
    background: -moz-linear-gradient(center top, #f8fafd, #f2f5f8) repeat scroll 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f8fafd', endColorstr = '#f2f5f8');
    border-bottom: 1px solid rgb(206, 213, 224);
    zoom: 1;
}

/*
状态栏
*/
.ks-editor-status {
    background-color: rgb(235, 238, 242);
    background: -webkit-gradient(linear, left top, left bottom, from(#e7e9ed), to(#f1f4f7));
    background: -moz-linear-gradient(center top, #e7e9ed, #f1f4f7) repeat scroll 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e7e9ed', endColorstr = '#f1f4f7');
    border-top: 1px solid rgb(206, 213, 224);
    height: 22px;
    padding: 2px 0;
    position: relative;
}

/*
工具按钮 
*/

ks-editor-toolbar-padding {
    padding: 5px;
}

.ks-editor-toolbar-item {
    background: no-repeat scroll left top transparent;
    display: block;
    height: 16px;
    overflow: hidden;
    text-indent: -999999px;
    vertical-align: middle;
    width: 16px;
    margin: 2px 4px; /*扩大可点击区域，不能在a加padding，ie问题*/
}

.ks-editor-toolbar-separator {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    border-left: 1px solid rgb(215, 215, 215);
    border-right: 1px solid #ffffff;
    font-size: 120%;
    margin: 0 2px;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    width: 0;
}

.ks-editor-toolbar-sourceArea {
    background-image: url("sourcearea.png"); /** sprite-ref: cool; */
}

.ks-editor-toolbar-preview {
    background-image: url("preview.png"); /** sprite-ref: cool; */
}

.ks-editor-toolbar-bold {
    background-image: url("bold.png"); /** sprite-ref: cool; */
}

.ks-editor-toolbar-italic {
    background-image: url("italic.png"); /** sprite-ref: cool; */
}

.ks-editor-toolbar-underline {
    background-image: url("underline.png"); /** sprite-ref: cool; */
    height: 11px;
    margin-top: 5px;
    margin-bottom: 4px;
    width: 10px;
    margin-left: 7px;
    margin-right: 7px;
}

.ks-editor-toolbar-strikeThrough {
    background-image: url("strike.png"); /** sprite-ref: cool; */
    height: 11px;
    margin-top: 4px;
    margin-bottom: 5px;
}

.ks-editor-toolbar-orderedList {
    background-image: url("ol.png"); /** sprite-ref: cool; */
    margin-right: 0;
}

.ks-editor-toolbar-unorderedList {
    background-image: url("ul.png"); /** sprite-ref: cool; */
    margin-right: 0;
}

.ks-editor-tools .ks-editor-toolbar-unorderedListArrowBtn,
.ks-editor-tools .ks-editor-toolbar-orderedListArrowBtn {
    border-color: transparent;
    _border-color: tomato;
    _filter: chroma(color = tomato);
}

.ks-editor-tools .ks-editor-toolbar-unorderedListBtn,
.ks-editor-tools .ks-editor-toolbar-orderedListBtn {
    margin-right: 0;
}

.ks-editor-tools .ks-editor-toolbar-unorderedListArrowBtn .ks-editor-menu-button-caption,
.ks-editor-tools .ks-editor-toolbar-orderedListArrowBtn .ks-editor-menu-button-caption {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
}

.ks-editor-tools .ks-editor-toolbar-unorderedListArrowBtn .ks-editor-menu-button-dropdown,
.ks-editor-tools .ks-editor-toolbar-orderedListArrowBtn .ks-editor-menu-button-dropdown {
    position: static;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    _border-color: tomato;
    _filter: chroma(color = tomato);
    border-top-color: #000000;
    margin: 8px 2px;
    background: none;
}

.ks-editor-toolbar-outdent {
    background-image: url("outdent.png"); /** sprite-ref: cool; */
}

.ks-editor-toolbar-indent {
    background-image: url("indent.png"); /** sprite-ref: cool; */
}

.ks-editor-toolbar-justifyLeft {
    background-image: url("justify-left.png"); /** sprite-ref: cool; */
}

.ks-editor-toolbar-justifyCenter {
    background-image: url("justify-center.png"); /** sprite-ref: cool; */
}

.ks-editor-toolbar-justifyRight {
    background-image: url("justify-right.png"); /** sprite-ref: cool; */
}

.ks-editor-toolbar-image {
    background-image: url("image.png"); /** sprite-ref: cool; */
}

.ks-editor-toolbar-multipleUpload {
    background-image: url("multiple-image.png"); /** sprite-ref: cool; */
}

.ks-editor-toolbar-backColorBtn,
.ks-editor-toolbar-foreColorBtn {
    margin-right: 0;
}

.ks-editor-toolbar-backColor,
.ks-editor-toolbar-foreColor {
    background-image: url("bgcolor.png"); /** sprite-ref: cool; */
    width: 18px;
    height: 15px;
    margin-top: 2px;
    margin-right: 0;
    margin-left: 4px;
    margin-bottom: 1px;
}

.ks-editor-toolbar-backColor {
    position: relative;
    left: -1px;
}

.ks-editor-toolbar-foreColor {
    background-image: url("color.png"); /** sprite-ref: cool; */
}

.ks-editor-toolbar-color-indicator {
    height: 4px;
    margin-left: 2px;
    margin-bottom: 2px;
    /*
      ie67 need this
      block div is inside inline-block element, can not get auto width!
      set 100% is also not ok!(note: 100% != auto width)
    */
    width: 20px;
    font-size: 0;
    overflow: hidden;
}

.ks-editor-toolbar-backColorArrowBtn,
.ks-editor-toolbar-foreColorArrowBtn {
    margin-left: 0;
}

.ks-editor-toolbar-backColorArrow,
.ks-editor-toolbar-foreColorArrow {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    /* ie6 does not support transparent */
    _border-color: tomato;
    _filter: chroma(color = tomato);
    border-top-color: #000000;
    margin: 8px 2px;
}

.ks-editor-toolbar-undo {
    background-image: url("undo.png"); /** sprite-ref: cool; */
}

.ks-editor-toolbar-redo {
    background-image: url("redo.png"); /** sprite-ref: cool; */
    height: 15px;
    margin: 3px 4px;
}

.ks-editor-toolbar-table {
    background-image: url("table.png"); /** sprite-ref: cool; */
}

.ks-editor-toolbar-template {
    background-image: url("templates.png"); /** sprite-ref: cool; */
}

.ks-editor-toolbar-maximize {
    background-image: url("maximize.png"); /** sprite-ref: cool; */
}

.ks-editor-toolbar-flash {
    background-image: url("flash.png"); /** sprite-ref: cool; */
}

.ks-editor-toolbar-link {
    background-image: url("link.png"); /** sprite-ref: cool; */
}

.ks-editor-toolbar-music {
    background-image: url("music.png"); /** sprite-ref: cool; */
}

.ks-editor-toolbar-xiamiMusic {
    background-image: url("music.png"); /** sprite-ref: cool; */
}

.ks-editor-toolbar-video {
    background-image: url("video.png"); /** sprite-ref: cool; */
}

.ks-editor-toolbar-smiley {
    background-image: url("smiley.png"); /** sprite-ref: cool; */
}

.ks-editor-toolbar-removeFormat {
    background-image: url("removeformat.png"); /** sprite-ref: cool; */
}

.ks-editor-toolbar-pageBreak {
    background-image: url("pagebreak.png"); /** sprite-ref: cool; */
    height: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.ks-editor-toolbar-code {
    background-image: url("code.png"); /** sprite-ref: cool; */
}

.ks-editor-toolbar-restore {
    background-image: url("restore.png"); /** sprite-ref: cool; */
}

.ks-editor-input {
    border-radius: 2px;
    background: #FFFFFF repeat-x scroll 0 0;
    background-image: url("text-bg.png");
    border: 1px solid #B5B8C8;
    height: 24px;
    line-height: 22px;
}

.ks-editor-input-tip {
    color: #969696;
}