.ks-editor-dialog, .ks-editor-overlay {
    position: absolute;
    /*防止移位带来的闪烁*/
    left: -9999px;
    top: -9999px;
    outline: none;
    overflow: hidden;
}

.ks-editor-overlay-hidden{
    visibility: hidden;
}

.ks-editor-overlay-shown{
    visibility: visible;
}

.ks-editor-overlay-mask-hidden {
    visibility: hidden;
}

.ks-editor-overlay-mask-shown {
    visibility: visible;
}

.ks-editor-dialog label,
.ks-editor-dialog input{
    vertical-align: middle;
}

.ks-editor-dialog .ks-editor-contentbox, .ks-editor-popup .ks-editor-contentbox {
    background-color: #FBFBFB;
    border: 1px solid #ACB4BE;
}

.ks-editor-dialog .ks-editor-stdmod-header {
    background: repeat-x scroll 0 0 #D6DBE2;
    background-image: url("overlay-hd.png"); /** sprite-ref: cool; sprite-alignment: repeat; */
    border-bottom: 1px solid #ACB4BE;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 18px;
}

.ks-editor-dialog .ks-editor-ext-close {
    height: 18px;
    width: 18px;
    border: 1px solid transparent;
    right: 6px;
    top: 6px;
    vertical-align: middle;
    position: absolute;
    text-decoration: none;
    outline: none;
    _border-color: tomato;
    _filter: chroma(color = tomato);
    overflow: hidden;
    cursor: pointer;
}

.ks-editor-dialog .ks-editor-ext-close .ks-editor-ext-close-x {
    display: block;
    background: no-repeat;
    background-image: url("close.png"); /** sprite-ref: cool; */
    height: 13px;
    text-indent: -9999px;
    width: 13px;
    margin: 2.5px;
}

.ks-editor-dialog .ks-editor-ext-close:hover {
    border: 1px solid #CED5E0;
    background: white;
}

.ks-editor-ext-mask, .ks-editor-ext-mask {
    background-color: #000;
    opacity: 0.3;
    filter: alpha(opacity = 15);
}

.ks-editor-overlay .ks-editor-ext-loading {
    opacity: 0.6;
    filter: alpha(opacity = 60);
    background: #eee center center no-repeat scroll;
    background-image: url("../tao-loading.gif");
}

.ks-editor-global-loading .ks-editor-ext-loading {
    background-attachment: fixed;
}