<div class="mod-item-property" data-spm="991222405">
    <h2 class="mod-item-title">{{itemPrice.data.itemTitle}}</h2>

    <div class="mod-item-meta">
        <!-- 价格 -->
        <div class="meta-item J_Price clearfix">
            <div class="meta-item-hd">价&nbsp;&nbsp;格</div>
            <div class="meta-item-bd price">
                <em class="yuan">&yen;</em>
                <strong>{{@if (itemPrice.data.priceSpan)}}
                    {{formatPrice (itemPrice.data.minPrice.amount)}}-{{formatPrice (itemPrice.data.maxPrice.amount)}}
                    {{else}}
                    {{formatPrice (itemPrice.data.itemPrice.amount)}}{{/if}}</strong>
                {{#if (itemPrice.data.specialUnit)}}
                &nbsp;&nbsp;（<span>{{itemPrice.data.unitPrice}}{{itemPrice.data.unit}}</span>）{{/if}}
                <input type="hidden" id="itemStart" value="{{itemPrice.data.itemStarts}}"/>
                <input type="hidden" id="itemEnd" value="{{itemPrice.data.itemEnds}}"/>
            </div>
        </div>
        {{@if (itemPrice.data.onLine)}}
        {{#if (itemPrice.data.specialUnit)}}
        <!--净含量-->
        <div class="meta-item clearfix">
            <div class="meta-item-hd">
                {{#ifHas (itemPrice.data.unit, "折")}} 面&nbsp;&nbsp;值 {{/ifHas}}
                {{#ifHas (itemPrice.data.unit, "g")}} 净含量 {{/ifHas}}
                {{#ifHas (itemPrice.data.unit, "ml")}} 净含量 {{/ifHas}}
            </div>
            <div class="meta-item-bd J_bd">
                {{#ifHas (itemPrice.data.unit, "折")}} <em class="yuan">&yen;</em> {{/ifHas}}
                {{itemPrice.data.spec}}
                {{#ifHas (itemPrice.data.unit, "g")}} g {{/ifHas}}
                {{#ifHas (itemPrice.data.unit, "ml")}} ml {{/ifHas}}
            </div>
        </div>
        {{/if}}
        <!--ump价格-->
        <div class="meta-item  J_UMP hidden clearfix">
            <div class="meta-item-hd">促&nbsp;&nbsp;销</div>
            <div class="meta-item-bd J_bd price">

            </div>
        </div>

        <!--其他优惠-->
        <div class="meta-item hidden J_PointTxt clearfix">
            <div class="meta-item-hd">优&nbsp;&nbsp;惠</div>
            <div class="meta-item-bd J_bd"></div>
        </div>

        <!--增值服务-->
        <div class="meta-item hidden J_AddService clearfix">
            <div class="meta-item-hd">服&nbsp;&nbsp;务</div>
            <div class="meta-item-bd J_bd"></div>
        </div>

        <!--配送-->
        <div class="meta-item J_Logistic clearfix">
            <div class="meta-item-hd">配&nbsp;&nbsp;送</div>
            <div class="meta-item-bd J_bd"></div>
        </div>

        <!--销量-->
        <div class="meta-item J_Deal clearfix">
            <div class="meta-item-hd">销&nbsp;&nbsp;量</div>
            <div class="meta-item-bd J_bd"></div>
        </div>

        <!--itemCommitmentModulet start-->
        {{{include ("./itemCommitment")}}}
        <!--itemCommitmentModulet end-->

        {{else}}
        <div class="meta-item clearfix">
            <div class="meta-item-hd"></div>
            <div class="meta-item-bd J_bd">
                <p class="tb-hint"><strong>此宝贝已下架</strong> <span><a title="为什么" href="//service.taobao.com/support/knowledge-1102683.htm" target="_blank"><img alt="为什么" src="//img01.taobaocdn.com/tps/i1/T1VuyiXcRkXXazG.A_-11-11.gif"></a></span></p>
                <p class="tb-tips">1:联系卖家咨询</p>
                {{#if (itemPrice.data.shopUrl)}}
                <p class="tb-tips">
                    2:你可以<a href="{{itemPrice.data.shopUrl}}">进入掌柜店铺</a>
                </p>
                {{/if}}
            </div>
        </div>
        {{/if}}
    </div>

</div>
{{#if (itemPrice.data.onLine)}}
<div class="mod-item-action" id="J_item-action" data-spm="991222433">
    {{#if (itemPrice.data.canBuy)}}
    <button type="button" class="btn-buy" id="J_btn-buy">立刻购买</button>
    {{/if}}

    {{#if (itemPrice.data.showCart)}}
    <button type="button" class="btn-cart" id="J_btn-cart">加入购物车</button>
    {{/if}}
    <!--<button type="button" class="btn-share"><i class="icon-share"></i></button>-->
    <button type="button" class="btn-favorite"><i class="icon-favorite"></i></button>
</div>
<!--itemBuyModulet start-->
{{{include ("./itemBuy")}}}
<!--itemBuyModulet end-->
<!--itemPrice.dataStepModulet start-->
{{{include ("./itemPriceStep")}}}
<!--itemPrice.dataStepModulet end-->
{{/if}}
