<span class="others" data-spm="991222469">

	{{@if (shopIdentity.data.alipayCompanyAuth)}}
		<a title="支付宝企业认证" href="//help.alipay.com/lab/210321-232507/0-232507.htm" target="_blank"><i class="icon-qyrz"></i></a>
	{{else}}
        {{@if (shopIdentity.data.alipayPersionAuth)}}
		    <a title="支付宝个人认证" href="//help.alipay.com/lab/210120-210321/0-210321.htm" target="_blank"><i class="icon-grrz"></i></a>
	    {{else}}
            {{#if (shopIdentity.data.personalAuth)}}
		        <a title="淘宝个人实名认证" href="//service.taobao.com/support/5-27-31/help-1055.htm" target="_blank"><i class="icon-grrz"></i></a>
            {{/if}}
        {{/if}}
	{{/if}}


	{{@if (shopIdentity.data.globalSeller)}}
		<a href="#" onclick="javascript:return false;" target="_blank" title="全球购卖家"><i class="icon-global"></i></a>
	{{else}}
        {{@if (shopIdentity.data.starSeller)}}
		    <a href="#" onclick="javascript:return false;" target="_blank" title="明星卖家"><i class="icon-star"></i></a>
	    {{else}}
            {{#if (shopIdentity.data.protectSeller)}}
		        <a href="#" onclick="javascript:return false;" target="_blank" title="消保卖家"><i class="icon-xb"></i></a>
            {{/if}}
        {{/if}}
	{{/if}}

</span>
