/**
 * DataGrid样式
 * @creator 沉鱼<fool2fish@gmail.com>
 */

/*工具条*/
.ks-toolbar{height: 30px;border-bottom:1px solid #90b4e5;overflow:hidden;background:#ceddef url(datagrid.png) repeat-x 0 -260px;}
.ks-toolbar li{float: left;overflow:hidden;margin:8px 0 0 -1px;padding: 0 10px;border-left: 1px solid #90b4e5;line-height: 14px;}

/*通用设定*/
.ks-datagrid a{color:#36c;}
.ks-datagrid .h{color:#f30;}

/*表格部分*/
.ks-datagrid .datagrid-table{width:100%;overflow:hidden;}
.ks-datagrid .row-loading td{height:36px;border-bottom:1px solid #ccc;background:url(http://assets.taobaocdn.com/app/lottery/v2/img/loading.gif) no-repeat 50% 50%;}
.ks-datagrid th,
.ks-datagrid td{padding:5px;text-align:left;}
.ks-datagrid th{background:#ebecee url(datagrid.png) repeat-x 0 0;line-height:14px;border:1px solid #cacaca;font-weight:bold;}
.ks-datagrid td{background:#fff;}

/*排序th*/
.ks-datagrid th.sortable{cursor:pointer;_text-decoration:underline;}
.ks-datagrid th.sortable .icon{display:inline-block;width:13px;height:13px;margin-left:5px;background:url(datagrid.png) no-repeat -15px -185px;*background-position:-15px -188px;_background-position:-15px -185px;}
.ks-datagrid th.sortable:hover{background:#d0d2d5 url(datagrid.png) repeat-x 0 -75px;}
.ks-datagrid th.sort-asc,
.ks-datagrid th.sort-des{background:#d0d2d5 url(datagrid.png) repeat-x 0 -75px;}
.ks-datagrid th.sort-asc .icon{background-position:-15px -170px;*background-position:-15px -172px;_background-position:-15px -170px;}
.ks-datagrid th.sort-des .icon{background-position:0 -170px;*background-position:0 -172px;_background-position:0 -170px;}

/*特殊列*/
.ks-datagrid tr.selected td{	background:#e8f3cc;}
.ks-datagrid th.cell-extra{padding:5px 0;*padding:3px 0;text-align:center;}
.ks-datagrid td.cell-extra{padding:5px 0;vertical-align:middle;text-align:center;border-right:1px solid #cacaca;background:#ecedef url(datagrid-extra.png) repeat-y 0 0;}

/*行*/
.ks-datagrid .row td{border-top:1px dashed #ccc;}
.ks-datagrid .row:hover td{background-color:#f6f6f6;}
.ks-datagrid .row:hover td.cell-extra{background-color:#ecedef;}
.ks-datagrid .row-extra{display:none;}
.ks-datagrid .row-expanded{display:table-row;*display:block;}
.ks-datagrid .row-selected td,
.ks-datagrid .row-selected:hover td{background:#e7eef9;}
.ks-datagrid .row-selected td.cell-extra,
.ks-datagrid .row-selected:hover td.cell-extra{background:#d0e3fa url(datagrid-extra.png) repeat-y -50px 0;}
.ks-datagrid .row-loading:hover td{background-color:#fff;}

/*特殊元素*/
.ks-datagrid .icon-checkbox,
.ks-datagrid .icon-radio{display:inline-block;width:13px;height:13px;margin:0 6px;cursor:pointer;background:url(datagrid.png) no-repeat 1000px 1000px;}
.ks-datagrid .icon-checkbox{background-position:0 -210px;}
.ks-datagrid .row-selected  .icon-checkbox{background-position:-15px -210px;}
.ks-datagrid .icon-radio{background-position:0 -230px;}
.ks-datagrid .row-selected  .icon-radio{background-position:-15px -230px;}
.ks-datagrid .icon-expand{display:inline-block;width:11px;height:11px;margin:0 6px;cursor:pointer;background:url(datagrid.png) no-repeat 0 -150px;}
.ks-datagrid .row-expanded .icon-expand{background-position:-15px -150px;}
.ks-datagrid tfoot td{padding:0;}

/*翻页*/
.ks-pagination{height:30px;border-top:1px solid #90b4e5;border-bottom:1px solid #90b4e5;background:#ceddef url(datagrid.png) repeat-x 0 -260px;}
.ks-pagination .standard{float:right;margin:3px 10px 0 0;_display:inline;}
.ks-pagination .page-info,
.ks-pagination .page-start,
.ks-pagination .page,
.ks-pagination .page-end,
.ks-pagination .page-skip,
.ks-pagination .page-prev,
.ks-pagination .page-next{float:left;margin-left:3px;line-height:20px;}
.ks-pagination span{color:#808080;}
.ks-pagination a{cursor:pointer;}
.ks-pagination a:hover,
.ks-pagination a:active{color:#fff;text-decoration:none;background:#09f;}
.ks-pagination .page-info{padding-top:1px;}
.ks-pagination .page-start,
.ks-pagination .page,
.ks-pagination .page-end,
.ks-pagination .page-prev,
.ks-pagination .page-next{padding:0 7px;border:1px solid #ccc;background:#fff;}
.ks-pagination .page-skip{margin-left:6px;color:#404040;}
.ks-pagination .page-skip-button{height:22px;line-height:14px;}
.ks-pagination span.page{border:none;padding:1px 5px;font-weight:bold;color:#f30;background:none;}