.ks-imagezoom-lens {
    position: absolute; left: 0; top: 0;
    background: url(http://img04.taobaocdn.com/tps/i4/T12pdtXaldXXXXXXXX-2-2.png) repeat;
}

.ks-imagezoom-icon {
    position: absolute; left: 0; top: 0;
    height: 23px; width: 23px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: url("http://img02.taobaocdn.com/tps/i2/T1uJNuXX8tXXXXXXXX-23-23.png") no-repeat scroll left top transparent;
}


.ks-imagezoom-viewer {
    border: 1px solid #CCCCCC;
    overflow: hidden;
    position: absolute;
    text-align: center;
    z-index: 999;
    background: #fff url(loading.gif) no-repeat center center;
}
