/**
 * Accordion
 * @creator 沉鱼<fool2fish@gmail.com>
 */

/***********************************************************************************************************************
 * @公共样式
 **********************************************************************************************************************/
.ks-accordion{margin-bottom:10px;*padding-top:1px;}
.ks-accordion-top,
.ks-accordion-bottom{display:block;position:relative;height:4px;margin:0 0 -4px 0;z-index:10;clear:both;}
.ks-accordion-bottom{margin:-4px 0 0 0;}
.ks-accordion-top s,
.ks-accordion-top b,
.ks-accordion-bottom s,
.ks-accordion-bottom b{float:left;width:4px;height:4px;overflow:hidden;font-size:0;line-height:0;background:url(img/bar-repeatx.png) no-repeat -3px 0;}
.ks-accordion-top b{float:right;;background-position:0 0;}
.ks-accordion-bottom s{background-position:-3px -3px;}
.ks-accordion-bottom b{float:right;background-position:0 -3px;}
.ks-accordion-trigger{margin-top:-1px;padding:3px 10px;_padding:5px 10px 4px 10px;border:1px solid #bad6ff;background:#cce1ff url(img/bar-repeatx.png) repeat-x 0 -10px;cursor:pointer;}
.ks-accordion-icon{display:inline-block;width:12px;height:12px;margin-right:4px;background:url(img/icon.png) no-repeat 0 0;}
.ks-accordion-active .ks-accordion-icon{background-position:-20px 0;}
.ks-accordion-title{display:inline;font-size:12px;font-weight:bold;}
.ks-accordion-panel{border:1px solid #bad6ff;border-top:none;}

.ks-accordion,
.ks-accordion-trigger,
.ks-accordion-panel{*zoom:1;}

