/**
 * Accordion Extended
 * @creator 沉鱼<fool2fish@gmail.com>
 * @base accordion.css
 */

/***********************************************************************************************************************
 * @强调样式
 **********************************************************************************************************************/
.ks-accordion-strong .ks-accordion-top s{background-position:-3px -200px;}
.ks-accordion-strong .ks-accordion-top b{background-position:0 -200px;}
.ks-accordion-strong .ks-accordion-bottom s{background-position:-3px -203px;}
.ks-accordion-strong .ks-accordion-bottom b{background-position:0 -203px;}
.ks-accordion-strong .ks-accordion-trigger{border-color:#80b2ff;background-color:#a0beff;background-position:0 -210px;}
.ks-accordion-strong .ks-accordion-panel{border-color:#80b2ff;}

/***********************************************************************************************************************
 * @标准样式
 **********************************************************************************************************************/
.ks-accordion-normal .ks-accordion-top s{background-position:-3px 0;}
.ks-accordion-normal .ks-accordion-top b{background-position:0 0;}
.ks-accordion-normal .ks-accordion-bottom s{background-position:-3px -3px;}
.ks-accordion-normal .ks-accordion-bottom b{background-position:0 -3px;}
.ks-accordion-normal .ks-accordion-trigger{border-color:#bad6ff;background-color:#cce1ff;background-position:0 -10px;}
.ks-accordion-normal .ks-accordion-panel{border-color:#bad6ff;}

/***********************************************************************************************************************
 * @弱化样式
 **********************************************************************************************************************/
.ks-accordion-weak .ks-accordion-top s{background-position:-3px -100px;}
.ks-accordion-weak .ks-accordion-top b{background-position:0 -100px;}
.ks-accordion-weak .ks-accordion-bottom s{background-position:-3px -103px;}
.ks-accordion-weak .ks-accordion-bottom b{background-position:0 -103px;}
.ks-accordion-weak .ks-accordion-trigger{border-color:#ddd;background-color:#f2f2f2;background-position:0 -110px;}
.ks-accordion-weak .ks-accordion-panel{border-color:#ddd;}

/***********************************************************************************************************************
 * @裸样式
 **********************************************************************************************************************/
.ks-accordion-naked .ks-accordion-top s,
.ks-accordion-naked .ks-accordion-top b,
.ks-accordion-naked .ks-accordion-bottom s,
.ks-accordion-naked .ks-accordion-bottom b{display:none;}
.ks-accordion-naked .ks-accordion-trigger{margin-top:0;border:none;border-bottom:1px solid #bad6ff;background:#fff;}
.ks-accordion-naked .ks-accordion-panel{border:none}


