/**
 * Accordion
 * @creator 沉鱼<fool2fish@gmail.com>
 */

/***********************************************************************************************************************
 * @公共样式
 **********************************************************************************************************************/
.ks-accordion{margin-bottom:10px;*padding-top:1px;}
.ks-accordion-top,
.ks-accordion-bottom{display:block;position:relative;height:4px;margin:0 0 -4px 0;z-index:10;clear:both;}
.ks-accordion-bottom{margin:-4px 0 0 0;}
.ks-accordion-top s,
.ks-accordion-top b,
.ks-accordion-bottom s,
.ks-accordion-bottom b{float:left;width:4px;height:4px;overflow:hidden;font-size:0;line-height:0;background:url(img/bar-repeatx.png) no-repeat -3px 0;}
.ks-accordion-top b{float:right;;background-position:0 0;}
.ks-accordion-bottom s{background-position:-3px -3px;}
.ks-accordion-bottom b{float:right;background-position:0 -3px;}
.ks-accordion-trigger{margin-top:-1px;padding:3px 10px;_padding:5px 10px 4px 10px;border:1px solid #bad6ff;background:#cce1ff url(img/bar-repeatx.png) repeat-x 0 -10px;cursor:pointer;}
.ks-accordion-icon{display:inline-block;width:12px;height:12px;margin-right:4px;background:url(img/icon.png) no-repeat 0 0;}
.ks-accordion-active .ks-accordion-icon{background-position:-20px 0;}
.ks-accordion-title{display:inline;font-size:12px;font-weight:bold;}
.ks-accordion-panel{border:1px solid #bad6ff;border-top:none;}

.ks-accordion,
.ks-accordion-trigger,
.ks-accordion-panel{*zoom:1;}

/**
 * Accordion Extended
 * @creator 沉鱼<fool2fish@gmail.com>
 * @base accordion.css
 */

/***********************************************************************************************************************
 * @强调样式
 **********************************************************************************************************************/
.ks-accordion-strong .ks-accordion-top s{background-position:-3px -200px;}
.ks-accordion-strong .ks-accordion-top b{background-position:0 -200px;}
.ks-accordion-strong .ks-accordion-bottom s{background-position:-3px -203px;}
.ks-accordion-strong .ks-accordion-bottom b{background-position:0 -203px;}
.ks-accordion-strong .ks-accordion-trigger{border-color:#80b2ff;background-color:#a0beff;background-position:0 -210px;}
.ks-accordion-strong .ks-accordion-panel{border-color:#80b2ff;}

/***********************************************************************************************************************
 * @标准样式
 **********************************************************************************************************************/
.ks-accordion-normal .ks-accordion-top s{background-position:-3px 0;}
.ks-accordion-normal .ks-accordion-top b{background-position:0 0;}
.ks-accordion-normal .ks-accordion-bottom s{background-position:-3px -3px;}
.ks-accordion-normal .ks-accordion-bottom b{background-position:0 -3px;}
.ks-accordion-normal .ks-accordion-trigger{border-color:#bad6ff;background-color:#cce1ff;background-position:0 -10px;}
.ks-accordion-normal .ks-accordion-panel{border-color:#bad6ff;}

/***********************************************************************************************************************
 * @弱化样式
 **********************************************************************************************************************/
.ks-accordion-weak .ks-accordion-top s{background-position:-3px -100px;}
.ks-accordion-weak .ks-accordion-top b{background-position:0 -100px;}
.ks-accordion-weak .ks-accordion-bottom s{background-position:-3px -103px;}
.ks-accordion-weak .ks-accordion-bottom b{background-position:0 -103px;}
.ks-accordion-weak .ks-accordion-trigger{border-color:#ddd;background-color:#f2f2f2;background-position:0 -110px;}
.ks-accordion-weak .ks-accordion-panel{border-color:#ddd;}

/***********************************************************************************************************************
 * @裸样式
 **********************************************************************************************************************/
.ks-accordion-naked .ks-accordion-top s,
.ks-accordion-naked .ks-accordion-top b,
.ks-accordion-naked .ks-accordion-bottom s,
.ks-accordion-naked .ks-accordion-bottom b{display:none;}
.ks-accordion-naked .ks-accordion-trigger{margin-top:0;border:none;border-bottom:1px solid #bad6ff;background:#fff;}
.ks-accordion-naked .ks-accordion-panel{border:none}


/**
 * Bar
 * @creator 沉鱼<fool2fish@gmail.com>
 */

/***********************************************************************************************************************
 * @公共样式
 **********************************************************************************************************************/
.ks-bar{min-height:19px;padding:3px 10px;border-top:1px solid #bad6ff;border-bottom:1px solid #bad6ff;background:#cce1ff url(img/bar-repeatx.png) repeat-x 0 -10px;}

/***********************************************************************************************************************
 * @强调样式
 **********************************************************************************************************************/
.ks-bar-strong{border-color:#80b2ff;background-color:#a0beff;background-position:0 -210px;}

/***********************************************************************************************************************
 * @标准样式
 **********************************************************************************************************************/
.ks-bar-normal{border-color:#bad6ff;background-color:#cce1ff;background-position:0 -10px;}

/***********************************************************************************************************************
 * @弱化样式
 **********************************************************************************************************************/
.ks-bar-weak{border-color:#ddd;background-color:#f2f2f2;background-position:0 -110px;}

/***********************************************************************************************************************
 * @裸样式
 **********************************************************************************************************************/
.ks-bar-naked{border-color:#ddd;background:#fafafa;}/**
 * Box
 * @creator 沉鱼<fool2fish@gmail.com>
 */

/***********************************************************************************************************************
 * @公共样式
 **********************************************************************************************************************/
.ks-box{margin-bottom:10px;}
.ks-box-top,
.ks-box-bottom{display:block;position:relative;height:4px;margin:0 0 -4px 0;z-index:10;clear:both;}
.ks-box-bottom{margin:-4px 0 0 0;}
.ks-box-top s,
.ks-box-top b,
.ks-box-bottom s,
.ks-box-bottom b{float:left;width:4px;height:4px;overflow:hidden;font-size:0;line-height:0;background:url(img/bar-repeatx.png) no-repeat -3px 0;}
.ks-box-top b{float:right;;background-position:0 0;}
.ks-box-bottom s{background-position:-3px -3px;}
.ks-box-bottom b{float:right;background-position:0 -3px;}
.ks-box-hd{position:relative;padding:3px 10px;border:1px solid #bad6ff;border-bottom:none;background:#cce1ff url(img/bar-repeatx.png) repeat-x 0 -10px;}
.ks-box-title{font-size:12px;font-weight:bold;}
.ks-box-act{position:absolute;right:10px;top:3px;}
.ks-box-act a{float:left;margin-left:5px;}
.ks-box-bd{border:1px solid #bad6ff;background:#fff;}

.ks-box,
.ks-box-top,
.ks-box-bottom,
.ks-box-hd,
.ks-box-bd{*zoom:1;}
/**
 * Box Extended
 * @creator 沉鱼<fool2fish@gmail.com>
 * @base box.css
 */

/***********************************************************************************************************************
 * @强调样式
 **********************************************************************************************************************/
.ks-box-strong .ks-box-top s{background-position:-3px -200px;}
.ks-box-strong .ks-box-top b{background-position:0 -200px;}
.ks-box-strong .ks-box-bottom s{background-position:-3px -203px;}
.ks-box-strong .ks-box-bottom b{background-position:0 -203px;}
.ks-box-strong .ks-box-hd{border-color:#80b2ff;background-color:#a0beff;background-position:0 -210px;}
.ks-box-strong .ks-box-bd{border-color:#80b2ff;}

/***********************************************************************************************************************
 * @标准样式
 **********************************************************************************************************************/
.ks-box-normal .ks-box-top s{background-position:-3px 0;}
.ks-box-normal .ks-box-top b{background-position:0 0;}
.ks-box-normal .ks-box-bottom s{background-position:-3px -3px;}
.ks-box-normal .ks-box-bottom b{background-position:0 -3px;}
.ks-box-normal .ks-box-hd{border-color:#bad6ff;background-color:#cce1ff;background-position:0 -10px;}
.ks-box-normal .ks-box-bd{border-color:#bad6ff;}

/***********************************************************************************************************************
 * @弱化样式
 **********************************************************************************************************************/
.ks-box-weak .ks-box-top s{background-position:-3px -100px;}
.ks-box-weak .ks-box-top b{background-position:0 -100px;}
.ks-box-weak .ks-box-bottom s{background-position:-3px -103px;}
.ks-box-weak .ks-box-bottom b{background-position:0 -103px;}
.ks-box-weak .ks-box-hd{border-color:#ddd;background-color:#f2f2f2;background-position:0 -110px;}
.ks-box-weak .ks-box-bd{border-color:#ddd;}

/***********************************************************************************************************************
 * @裸样式
 **********************************************************************************************************************/
.ks-box-naked .ks-box-top s,
.ks-box-naked .ks-box-top b,
.ks-box-naked .ks-box-bottom s,
.ks-box-naked .ks-box-bottom b{display:none;}
.ks-box-naked .ks-box-hd{border:none;border-bottom:1px solid #bad6ff;background:#fff;}
.ks-box-naked .ks-box-bd{border:none}/**
 * Button
 * @creator 沉鱼<fool2fish@gmail.com>
 */

/***********************************************************************************************************************
 * @公共样式
 **********************************************************************************************************************/
a.ks-button{display:inline-block;height:28px;margin-right:4px;padding-left:15px;vertical-align:bottom;border:none;background:#f2f2f2 url(img/button.png) no-repeat 0 -40px;cursor:pointer;}
a.ks-button .ks-button-wrapper{display:inline-block;height:28px;padding-right:15px;font-size:14px;line-height:28px;background:#f2f2f2 url(img/button.png) no-repeat 100% -40px;}
a.ks-button:active,
a.ks-button:hover{text-decoration:none;}

button.ks-button{padding:2px 10px;*padding:2px 0;vertical-align:bottom;font-size:14px;}

/***********************************************************************************************************************
 * @强调样式
 **********************************************************************************************************************/
a.ks-button-strong{height:30px;background-color:#c9dbff;background-position:0 0;}
a.ks-button-strong .ks-button-wrapper{height:30px;line-height:30px;font-weight:bold;background-color:#c9dbff;background-position:100% 0;}

button.ks-button-strong{font-weight:bold;}

/***********************************************************************************************************************
 * @标准样式
 **********************************************************************************************************************/
a.ks-button-normal{background-color:#f2f2f2;background-position:0 -40px;}
a.ks-button-normal .ks-button-wrapper{background-color:#f2f2f2;background-position:100% -40px;}

/***********************************************************************************************************************
 * @弱化样式
 **********************************************************************************************************************/
a.ks-button-weak{background-color:#fafafa;background-position:0 -80px;}
a.ks-button-weak .ks-button-wrapper{background-color:#fafafa;background-position:100% -80px;font-size:12px;}

button.ks-button-weak{padding:0 5px;*padding:0;font-size:12px;}/**
 * Datagrid
 * @creator 沉鱼<fool2fish@gmail.com>
 */

/***********************************************************************************************************************
 * @公共样式
 **********************************************************************************************************************/

/*表格部分*/
.ks-datagrid{width:100%;overflow:hidden;}
.ks-datagrid-table{width:100%;}
.ks-datagrid th,
.ks-datagrid td{padding:5px;text-align:left;}
.ks-datagrid th{background:#f2f2f2 url(img/bar-repeatx.png) repeat-x 0 -110px;line-height:14px;vertical-align:bottom;border:1px solid #ccc;font-weight:bold;}
.ks-datagrid td{background:#fff;vertical-align:top;}

/*排序th*/
.ks-datagrid-cell-sortable{cursor:pointer;_text-decoration:underline;}
.ks-datagrid-cell-sortable .ks-datagrid-icon{display:inline-block;width:13px;height:13px;margin-left:5px;background:url(img/icon.png) no-repeat -100px -40px;}
.ks-datagrid-cell-sortable:hover{background:#dcdcdc url(img/bar-repeatx.png) repeat-x 0 -310px;}
.ks-datagrid .ks-datagrid-cell-asc,
.ks-datagrid .ks-datagrid-cell-desc{background:#dcdcdc url(img/bar-repeatx.png) repeat-x 0 -310px;}
.ks-datagrid-cell-asc .ks-datagrid-icon{background-position:-100px -20px;}
.ks-datagrid-cell-desc .ks-datagrid-icon{background-position:-80px -20px;}

/*特殊列*/
.ks-datagrid .ks-datagrid-cell-extra{padding:5px 0;width:25px;text-align:center;border-right:1px solid #ccc;background:#f9f9f9 url(img/bar-repeaty.png) repeat-y -110px 0;}

/*行*/
.ks-datagrid-row td{border-top:1px dashed #ccc;}
.ks-datagrid-row-even td{background:#f6f6f6;}
.ks-datagrid-row-extra{display:none;}
.ks-datagrid-row-expanded{display:table-row;*display:block;}

/*表格内icon*/
.ks-datagrid-icon-holder,
.ks-datagrid-icon-checkbox,
.ks-datagrid-icon-radio,
.ks-datagrid-icon-expand{display:inline-block;width:13px;height:13px;margin:0 6px;cursor:pointer;background:url(img/icon.png) no-repeat 1000px 1000px;}
.ks-datagrid-icon-holder{cursor:default;}
.ks-datagrid-icon-checkbox{background-position:0 -20px;}
.ks-datagrid-icon-checkbox:hover{background-position:-20px -20px;}
.ks-datagrid-row-selected  .ks-datagrid-icon-checkbox{background-position:-40px -20px;}
.ks-datagrid-row-selected  .ks-datagrid-icon-checkbox:hover{background-position:-60px -20px;}
.ks-datagrid-icon-radio{background-position:0 -40px;}
.ks-datagrid-icon-radio:hover{background-position:-20px -40px;}
.ks-datagrid-row-selected  .ks-datagrid-icon-radio{background-position:-40px -40px;}
.ks-datagrid-row-selected  .ks-datagrid-icon-radio:hover{background-position:-60px -40px;}
.ks-datagrid-icon-expand{width:11px;height:11px;background-position:-40px 0;}
.ks-datagrid-row-expanded .ks-datagrid-icon-expand{background-position:-60px 0;}

/*loading*/
.ks-datagrid-loading{position:absolute;z-index:100;}
.ks-datagrid-loading-mask{position:absolute;left:0;top:0;width:100%;height:100%;background:#000;filter:alpha(opacity=20);opacity:0.2;}
.ks-datagrid-loading-icon{position:absolute;left:50%;top:50%;margin:-10px 0 0 -110px;width:220px;height:19px;background:url(http://img02.taobaocdn.com/tps/i2/T1kyRBXhhfXXXXXXXX-220-19.gif) no-repeat;}

/*预置特殊行样式*/
.ks-datagrid-row-red td{background:#fec0c5;}
.ks-datagrid-row-yellow td{background:#fcf7c5;}
.ks-datagrid-row-green td{background:#e0f5c0;}
.ks-datagrid-row-gray td{background:#ddd;}

/*行选中样式*/
.ks-datagrid-row-selected td{background:#e1edff!important;}
.ks-datagrid-row-selected td.ks-datagrid-cell-extra{background:#cce1ff url(img/bar-repeaty.png) repeat-y -11px 0!important;}

/*支持固定表头浏览时使用的table代理样式*/
.ks-datagrid-proxy{position:fixed;_position:absolute;z-index:10;}


/**
 * FlowStep
 * @creator 沉鱼<fool2fish@gmail.com>
 */

/***********************************************************************************************************************
 * @公共样式
 **********************************************************************************************************************/
.ks-flowstep {height:23px;margin-bottom:10px;*zoom:1;}
.ks-flowstep ol{position:relative;overflow:hidden;background-color:#e4e4e4;*zoom:1;}
.ks-flowstep-num3 li, .ks-flowstep-num3 .ks-flowstep-last{ width: 33.3%; }
.ks-flowstep-num4 li, .ks-flowstep-num4 .ks-flowstep-last { width: 24.9%; }
.ks-flowstep-num5 li, .ks-flowstep-num5 .ks-flowstep-last { width: 20%;*width:19.9%;}
.ks-flowstep-num6 li, .ks-flowstep-num6 .ks-flowstep-last { width: 16.6%; }
.ks-flowstep li{float: left;height: 23px;overflow: hidden;font-size: 14px;font-weight:bold;line-height: 23px;text-align: center;background: #e4e4e4 url(img/flowstep.png) no-repeat 0 0;}
.ks-flowstep span{display:block;background:url(img/flowstep.png) no-repeat 0 0;}
.ks-flowstep .ks-flowstep-first{background-position:0 -69px;}
.ks-flowstep .ks-flowstep-last{position:absolute;right:0;_right:-1px;background-position:100% -92px;_width:100%;}
.ks-flowstep-current .ks-flowstep-last{background-color:transparent;background-position:100% -115px;}
.ks-flowstep-done span{background-color: #ffe6ba;background-position: 0 -46px; color: #f60;}
.ks-flowstep .ks-flowstep-current,
.ks-flowstep-current span {background-color: #f60;background-position: 0 -46px;color: #fff;}
.ks-flowstep .ks-flowstep-current-next{background-position: 0 -23px;}
.ks-flowstep-current-next span{background-position:1000px 1000px;}





/**
 * Form
 * @creator 沉鱼<fool2fish@gmail.com>
 */

.ks-form{padding:6px 10px;}
.ks-form fieldset{margin-bottom:5px;*margin-bottom:0;padding:5px 0;border:1px solid #ccc;}
.ks-form legend{margin-left:1em;font-weight:bold;}
.ks-form input,
.ks-form select{vertical-align:middle;}
.ks-form-table{width:100%;}
.ks-form-label{width:132px;padding:4px 0;*padding-top:6px;font-weight:normal;text-align:right;vertical-align:top;}
.ks-form-label label{padding-right:12px;}
.ks-form-required{display:inline-block;margin:0 6px 0 -13px;color:#f30;}
.ks-form-field{padding-top:4px;}
.ks-form-field-cell{display:inline-block;padding:0 8px 4px 0;}
.ks-form-input{width:100px;height:16px;}
.ks-form-textarea{width:445px;height:4em;line-height:1.2em;}
.ks-form-button-box{*padding-top:6px;text-align:center;}
.ks-form-button-box button{min-width:50px;margin-right:5px;padding:1px 6px;*padding:0;cursor:pointer;}
.ks-form-button-box button[type="submit"]{font-weight:bold;}

.ks-form-calendar{position:relative;}
.ks-form-calendar .ks-form-trigger{position:absolute;right:11px;top:3px;*top:5px;width:13px;height:13px;overflow:hidden;line-height:1000px;background:url(img/icon.png) no-repeat -80px 0;}
.ks-form-calendar .ks-form-trigger-disabled{background-position:-100px 0;cursor:default;}

.ks-form-select{position:relative;}
.ks-form-select .ks-form-trigger{position:absolute;right:9px;top:1px;*top:3px;width:17px;height:18px;overflow:hidden;line-height:1000px;background:url(img/icon.png) no-repeat 0 -61px;}
.ks-form-select .ks-form-trigger-disabled{background-position:-20px -61px;cursor:default;}

.ks-form-numericupdown{position:relative;}
.ks-form-numericupdown .ks-form-trigger{position:absolute;right:9px;top:1px;*top:3px;width:17px;height:18px;overflow:hidden;line-height:1000px;}
.ks-form-numericupdown .ks-form-trigger-up{display:block;width:17px;height:9px;background:url(img/icon.png) no-repeat -40px -61px;}
.ks-form-numericupdown .ks-form-trigger-down{display:block;width:17px;height:9px;background:url(img/icon.png) no-repeat -40px -70px;}
.ks-form-numericupdown .ks-form-trigger-up-disabled{background-position:-60px -61px;cursor:default;}
.ks-form-numericupdown .ks-form-trigger-down-disabled{background-position:-60px -70px;cursor:default;}/**
 * List
 * @creator 沉鱼<fool2fish@gmail.com>
 */

/***********************************************************************************************************************
 * @公共样式
 **********************************************************************************************************************/
.ks-list{overflow:hidden;}
.ks-list-li{margin-top:-1px;padding:4px 10px 5px 10px;border-top:1px solid #ddd;background:#f2f2f2 url(img/bar-repeatx.png) repeat-x 0 -110px;}

/***********************************************************************************************************************
 * @强调样式
 **********************************************************************************************************************/
.ks-list-strong .ks-list-li{border-color:#bad6ff;background-color:#cce1ff;background-position:0 -10px;}

/***********************************************************************************************************************
 * @标准样式
 **********************************************************************************************************************/
.ks-list-normal .ks-list-li{border-color:#ddd;background-color:#f2f2f2;background-position:0 -110px;}

/***********************************************************************************************************************
 * @弱化样式
 **********************************************************************************************************************/
.ks-list-weak .ks-list-li{border-top:1px dashed #ddd;background:#fff;}

/***********************************************************************************************************************
 * @裸样式
 **********************************************************************************************************************/
.ks-list-naked .ks-list-li{padding:1px 10px 0 10px;border:none;background:#fff;}/**
 * Message
 * @creator 沉鱼<fool2fish@gmail.com>
 */

/***********************************************************************************************************************
 * @公共样式
 **********************************************************************************************************************/
.ks-msg-inline .ks-msg-default{display:inline-block;*display:inline;*zoom:1;}
.ks-msg-block {display:block;}
			
.ks-msg{padding-top:1px;margin-bottom:6px;}
.ks-msg-default{padding:3px 5px 3px 26px;border:1px solid #ffcc7f;background:#ffffe5;position:relative;min-height:20px;_height:20px;}
.ks-msg-icon{float:left;width:16px;height:16px;overflow:hidden;margin:1px 5px 1px 0;font-size:0;line-height:0;background:url(img/msg.png) no-repeat 0 -160px;position:absolute;left:5px;top:3px;}
.ks-msg-title{display:inline;padding-right:2px;font-weight:bold;}
.ks-msg-content{display:inline;}

.ks-msg-error{border:1px solid #ff8080;background:#fff2f2;}
.ks-msg-error .ks-msg-icon{background-position:0 0;}
.ks-msg-stop{border:1px solid #ff8080;background:#fff2f2;}
.ks-msg-stop .ks-msg-icon{background-position:0 -40px;}
.ks-msg-alert{border:1px solid #ff8080;background:#fff2f2;}
.ks-msg-alert .ks-msg-icon{background-position:0 -80px;}
.ks-msg-attention{border:1px solid #40b3ff;background:#e5f5ff;}
.ks-msg-attention .ks-msg-icon{background-position:0 -120px;}
.ks-msg-tips{border:1px solid #ffcc7f;background:#ffffe5;}
.ks-msg-tips .ks-msg-icon{background-position:0 -160px;}
.ks-msg-ok{border:1px solid #4dbf00;background:#f0ffe5;}
.ks-msg-ok .ks-msg-icon{background-position:0 -200px;}
.ks-msg-notice{border:1px solid #40b3ff;background:#e5f5ff;}
.ks-msg-notice .ks-msg-icon{background-position:0 -240px;}
.ks-msg-question{border:1px solid #ffcc7f;background:#ffffe5;}   
.ks-msg-question .ks-msg-icon{background-position:0 -280px;}

/***********************************************************************************************************************
 * @强调样式
 **********************************************************************************************************************/
.ks-msg-strong{margin-bottom:10px;}
.ks-msg-strong .ks-msg-default{padding:6px 10px 6px 52px;;}
.ks-msg-strong .ks-msg-icon{width:32px;height:32px;margin-right:10px;background-position:100% -160px;left:10px;top:6px;}
.ks-msg-strong .ks-msg-title{display:block;padding-left:0;font-size:14px;}
.ks-msg-strong .ks-msg-content{display:block;}

.ks-msg-strong .ks-msg-error .ks-msg-icon{background-position:100% 0;}
.ks-msg-strong .ks-msg-stop .ks-msg-icon{background-position:100% -40px;}
.ks-msg-strong .ks-msg-alert .ks-msg-icon{background-position:100% -80px;}
.ks-msg-strong .ks-msg-attention .ks-msg-icon{background-position:100% -120px;}
.ks-msg-strong .ks-msg-tips .ks-msg-icon{background-position:100% -160px;}
.ks-msg-strong .ks-msg-ok .ks-msg-icon{background-position:100% -200px;}
.ks-msg-strong .ks-msg-notice .ks-msg-icon{background-position:100% -240px;}
.ks-msg-strong .ks-msg-question .ks-msg-icon{background-position:100% -280px;}

/***********************************************************************************************************************
 * @标准样式
 **********************************************************************************************************************/

/***********************************************************************************************************************
 * @裸样式
 **********************************************************************************************************************/
.ks-msg-naked{margin-bottom:0;}
.ks-msg-naked .ks-msg-default{padding:4px 10px 4px 20px;border:none;background:none;}
.ks-msg-naked .ks-msg-icon{left:0;}
/**
 * Pagination
 * @creator 沉鱼<fool2fish@gmail.com>
 */

/***********************************************************************************************************************
 * @公共样式
 **********************************************************************************************************************/
.ks-pagination{height:22px;}
.ks-pagination-wrapper{float:right;}

.ks-pagination span{color:#808080;}
.ks-pagination a{color:#04c;cursor:pointer;}
.ks-pagination a:hover,
.ks-pagination a:active{color:#f60;text-decoration:none;border:1px solid #f60;}

.ks-pagination-info,
.ks-pagination-start,
.ks-pagination-prev,
.ks-pagination-next,
.ks-pagination-end,
.ks-pagination-page,
.ks-pagination-skip,
.ks-pagination-data-limit{float:left;height:20px;margin-left:3px;line-height:20px;}

.ks-pagination-info{padding-top:1px;}

.ks-pagination-start,
.ks-pagination-prev,
.ks-pagination-next,
.ks-pagination-end,
.ks-pagination-page{padding:0 7px;border:1px solid #ccc;background:#fff url(img/pagination.png) no-repeat 1000px 1000px;}
span.ks-pagination-page{color:#f60;font-weight:700;border:1px solid #f60;background-color:#ffede1;}

.ks-pagination-skip{margin-left:6px;color:#404040;}
.ks-pagination-skip-to{width:2em;}
.ks-pagination-skip-button{margin-left:2px;height:22px;line-height:14px;}

.ks-pagination-data-limit{margin-left:10px;padding-top:2px;*padding-top:1px;color:#404040;}

.ks-pagination-start,
.ks-pagination-prev{width:6px;overflow:hidden;line-height:1000px;}
.ks-pagination-next,
.ks-pagination-end{padding-right:14px;}
span.ks-pagination-start{background-position:0 -145px;}
a.ks-pagination-start{background-position:0 -115px;}
span.ks-pagination-prev{background-position:0 -25px;}
a.ks-pagination-prev{background-position:0 5px;}
span.ks-pagination-next{background-position:100% -85px;}
a.ks-pagination-next{background-position:100% -55px;}
span.ks-pagination-end{background-position:100% -205px;}
a.ks-pagination-end{background-position:100% -175px;}

/***********************************************************************************************************************
 * @标准样式
 **********************************************************************************************************************/


/***********************************************************************************************************************
 * @弱化样式
 **********************************************************************************************************************/
.ks-pagination-weak a{text-decoration:underline;}
.ks-pagination-weak a:hover,
.ks-pagination-weak a:active{text-decoration:underline;border:none;}

.ks-pagination-weak .ks-pagination-start,
.ks-pagination-weak .ks-pagination-prev,
.ks-pagination-weak .ks-pagination-next,
.ks-pagination-weak .ks-pagination-end,
.ks-pagination-weak .ks-pagination-page{margin-left:0;padding:0;border:none;background-color:transparent;}

.ks-pagination-weak .ks-pagination-page{padding:0 5px;}

.ks-pagination-weak .ks-pagination-start,
.ks-pagination-weak .ks-pagination-prev{width:12px;padding-right:2px;}

.ks-pagination-weak .ks-pagination-next,
.ks-pagination-weak .ks-pagination-end{padding-right:14px;}
/**
 * Popup
 * @creator 沉鱼<fool2fish@gmail.com>
 */

/***********************************************************************************************************************
 * @默认（标准）样式
 **********************************************************************************************************************/
.ks-popup{padding:3px;background:#aaa;}
.ks-popup-hd{position:relative;padding:3px 10px;border:1px solid #a7cbfe;border-bottom:none;background:#cce1ff url(img/bar-repeatx.png) repeat-x 0 -10px;}
.ks-popup-icon{display:inline;}
.ks-popup-tit{display:inline;font-size:12px;font-weight:bold;}
.ks-popup-bd{border:1px solid #a7cbfe;background:#fff;}
.ks-popup-act{position:absolute;right:10px;top:3px;}
.ks-popup-act a{float:left;margin-left:5px;}

/**
 * Tab
 * @creator 沉鱼<fool2fish@gmail.com>
 */

/***********************************************************************************************************************
 * @公共样式
 **********************************************************************************************************************/
.ks-tab{position:relative;margin-bottom:10px;}
.ks-tab-trigger-container{position:relative;height:28px;padding-left:15px;padding-bottom:2px;background:url(img/bar-repeatx.png) repeat-x 0 -439px;}
.ks-tab-trigger{position:relative;float:left;margin-top:2px;margin-right:3px;padding:0 15px;line-height:24px;font-weight:bold;border:1px solid #ddd;border-bottom:1px solid #bad6ff;background:#e6e6e6 url(img/bar-repeatx.png) repeat-x 0 -110px;cursor:pointer;}
.ks-tab-trigger-top s,
.ks-tab-trigger-top b{position:absolute;width:4px;height:4px;overflow:hidden;font-size:0;line-height:0;background:url(img/bar-repeatx.png) no-repeat -3px -100px;}
.ks-tab-trigger-top s{left:-1px;top:-1px;}
.ks-tab-trigger-top b{right:-1px;top:-1px;background-position:0 -100px;}

.ks-tab-trigger-active{margin-top:0;line-height:26px;border:1px solid #bad6ff;border-bottom:1px solid #cce1ff;background-color:#cce1ff;background-position:0 -10px;}
.ks-tab-trigger-active .ks-tab-trigger-top s{background-position:-3px 0;}
.ks-tab-trigger-active .ks-tab-trigger-top b{background-position:0 0;}

.ks-tab-panel{border:1px solid #bad6ff;*zoom:1;}
.ks-tab-panel-bottom{display:block;position:relative;height:4px;margin-top:-4px;z-index:10;clear:both;}
.ks-tab-panel-bottom s,
.ks-tab-panel-bottom b{width:4px;height:4px;overflow:hidden;font-size:0;line-height:0;background:url(img/bar-repeatx.png) no-repeat -3px -3px;}
.ks-tab-panel-bottom s{float:left;}
.ks-tab-panel-bottom b{float:right;;background-position:0 -3px;}

.ks-subtab-trigger-container{height:27px;overflow:hidden;border-bottom:1px dashed #ddd;background:#f2f2f2 url(img/bar-repeatx.png) repeat-x 0 -110px;}
.ks-subtab-trigger{float:left;margin-top:5px;margin-left:-2px;padding:0 15px;border-left:1px solid #ddd;cursor:pointer;}
.ks-subtab-trigger-active{color:#005ed9;}


/**
 * Tab Extended
 * @creator 沉鱼<fool2fish@gmail.com>
 * @base tab.css
 */

/***********************************************************************************************************************
 * @强调样式
 **********************************************************************************************************************/
.ks-tab-strong .ks-tab-trigger-container{border-color:#80b2ff;background-position:0 -389px;}
.ks-tab-strong .ks-tab-trigger{border:1px solid #ccc;border-bottom:1px solid #80b2ff;background-color:#e6e6e6;background-position:0 -310px;}
.ks-tab-strong .ks-tab-trigger-top s{background-position:-3px -300px;}
.ks-tab-strong .ks-tab-trigger-top b{background-position:0 -300px;}
.ks-tab-strong .ks-tab-trigger-active{border:1px solid #80b2ff;border-bottom:1px solid #a6c3ff;background-color:#a0beff;background-position:0 -210px;}
.ks-tab-strong .ks-tab-trigger-active .ks-tab-trigger-top s{background-position:-3px -200px;}
.ks-tab-strong .ks-tab-trigger-active .ks-tab-trigger-top b{background-position:0 -200px;}
.ks-tab-strong .ks-tab-panel{border-color:#80b2ff;}
.ks-tab-strong .ks-tab-panel-bottom s{background-position:-3px -203px;}
.ks-tab-strong .ks-tab-panel-bottom b{background-position:0 -203px;}

.ks-tab-strong  .ks-subtab-trigger-container{border-bottom:1px solid #ddd;}

/***********************************************************************************************************************
 * @标准样式
 **********************************************************************************************************************/
.ks-tab-normal .ks-tab-trigger-container{border-color:#bad6ff;background-position:0 -439px;}
.ks-tab-normal .ks-tab-trigger{border:1px solid #ddd;border-bottom:1px solid #bad6ff;background-color:#f2f2f2;background-position:0 -110px;}
.ks-tab-normal .ks-tab-trigger-top s{background-position:-3px -100px;}
.ks-tab-normal .ks-tab-trigger-top b{background-position:0 -100px;}
.ks-tab-normal .ks-tab-trigger-active{border:1px solid #bad6ff;border-bottom:1px solid #cce1ff;background-color:#cce1ff;background-position:0 -10px;}
.ks-tab-normal .ks-tab-trigger-active .ks-tab-trigger-top s{background-position:-3px 0;}
.ks-tab-normal .ks-tab-trigger-active .ks-tab-trigger-top b{background-position:0 0;}
.ks-tab-normal .ks-tab-panel{border-color:#bad6ff;}
.ks-tab-normal .ks-tab-panel-bottom s{background-position:-3px -3px;}
.ks-tab-normal .ks-tab-panel-bottom b{background-position:0 -3px;}

.ks-tab-normal  .ks-subtab-trigger-container{border-bottom:1px dashed #ddd;}

/***********************************************************************************************************************
 * @弱化样式
 **********************************************************************************************************************/
.ks-tab-weak .ks-tab-trigger-container{height:27px;padding-bottom:0;border-bottom:1px solid #ddd;background:none;}
.ks-tab-weak .ks-tab-trigger{border:1px solid #ddd;border-bottom:none;background-color:#fff;background-position:0 110px;}
.ks-tab-weak .ks-tab-trigger-top s{background-position:-3px -100px;}
.ks-tab-weak .ks-tab-trigger-top b{background-position:0 -100px;}
.ks-tab-weak .ks-tab-trigger-active{border:1px solid #ddd;border-bottom:none;color:#005ed9;background-color:#f2f2f2;background-position:0 -110px;}
.ks-tab-weak .ks-tab-trigger-active .ks-tab-trigger-top s{background-position:-3px -100px;}
.ks-tab-weak .ks-tab-trigger-active .ks-tab-trigger-top b{background-position:0 -100px;}
.ks-tab-weak .ks-tab-panel{border:none;border-top:1px solid #eee;;}
.ks-tab-weak .ks-tab-panel-bottom s,
.ks-tab-weak .ks-tab-panel-bottom b{display:none;}

.ks-tab-weak  .ks-subtab-trigger-container{background:#fafafa;}

