/**
 * FlowStep
 * @creator 沉鱼<fool2fish@gmail.com>
 */

/***********************************************************************************************************************
 * @公共样式
 **********************************************************************************************************************/
.ks-flowstep {height:23px;margin-bottom:10px;*zoom:1;}
.ks-flowstep ol{position:relative;overflow:hidden;background-color:#e4e4e4;*zoom:1;}
.ks-flowstep-num3 li, .ks-flowstep-num3 .ks-flowstep-last{ width: 33.3%; }
.ks-flowstep-num4 li, .ks-flowstep-num4 .ks-flowstep-last { width: 24.9%; }
.ks-flowstep-num5 li, .ks-flowstep-num5 .ks-flowstep-last { width: 20%;*width:19.9%;}
.ks-flowstep-num6 li, .ks-flowstep-num6 .ks-flowstep-last { width: 16.6%; }
.ks-flowstep li{float: left;height: 23px;overflow: hidden;font-size: 14px;font-weight:bold;line-height: 23px;text-align: center;background: #e4e4e4 url(img/flowstep.png) no-repeat 0 0;}
.ks-flowstep span{display:block;background:url(img/flowstep.png) no-repeat 0 0;}
.ks-flowstep .ks-flowstep-first{background-position:0 -69px;}
.ks-flowstep .ks-flowstep-last{position:absolute;right:0;_right:-1px;background-position:100% -92px;_width:100%;}
.ks-flowstep-current .ks-flowstep-last{background-color:transparent;background-position:100% -115px;}
.ks-flowstep-done span{background-color: #ffe6ba;background-position: 0 -46px; color: #f60;}
.ks-flowstep .ks-flowstep-current,
.ks-flowstep-current span {background-color: #f60;background-position: 0 -46px;color: #fff;}
.ks-flowstep .ks-flowstep-current-next{background-position: 0 -23px;}
.ks-flowstep-current-next span{background-position:1000px 1000px;}





