/**
 * Form
 * @creator ≥¡”„<fool2fish@gmail.com>
 */

.ks-form{padding:6px 10px;}
.ks-form fieldset{margin-bottom:5px;*margin-top:-5px;padding:5px 0;border:1px solid #ccc;}
.ks-form legend{margin-left:18px;font-weight:bold;}
.ks-form input,
.ks-form select{vertical-align:middle;}

.ks-form-icon{display:inline-block;width:12px;height:12px;margin:0 3px 0 -12px;_margin:0 3px 0 0;vertical-align:middle;background:url(img/icon.png) no-repeat -60px 0;cursor:pointer;}
.ks-form-fieldset-fold .ks-form-icon{background-position:-40px 0;}
.ks-form-fieldset-fold .ks-form-field-section{display:none;}

.ks-form-layout{width:100%;}
.ks-form-layout th{width:14%;min-width:10em;padding:4px 0;*padding-top:6px;font-weight:normal;text-align:right;vertical-align:top;}
.ks-form-layout td{padding-top:4px;vertical-align:top;}
.ks-form-layout1 td{width:86%;}
.ks-form-layout2 td{width:36%;}
.ks-form-layout3 td{width:19.3%;}

.ks-form-label{padding-right:12px;*display:inline-block;*width:10em;}
.ks-form-required{display:inline-block;margin:0 6px 0 -13px;color:#f30;}

.ks-form-field{display:inline-block;padding:0 8px 4px 0;}
.ks-form-input{width:100px;height:16px;}
.ks-form-textarea{width:445px;height:4em;line-height:1.2em;}
.ks-form-button-box{clear:both;padding-top:6px;text-align:center;border-top:1px dashed #ddd;}
.ks-form-button-box button{min-width:50px;margin-right:5px;padding:1px 6px;*padding:0;cursor:pointer;}
.ks-form-button-box button[type="submit"]{font-weight:bold;}

.ks-form-w1{width:100px;}
.ks-form-w2{width:215px;}
.ks-form-w3{width:330px;}
.ks-form-w4{width:445px;}
.ks-form-w5{width:560px;}
.ks-form-w6{width:675px;}
.ks-form-w7{width:790px;}
.ks-form-wfull{width:95%}

.ks-form-fieldset-label4 .ks-form-layout th{min-width:4em;}
.ks-form-fieldset-label4 .ks-form-label{*width:4em;}
.ks-form-fieldset-label6 .ks-form-layout th{min-width:6em;}
.ks-form-fieldset-label6 .ks-form-label{*width:6em;}
.ks-form-fieldset-label8 .ks-form-layout th{min-width:8em;}
.ks-form-fieldset-label8 .ks-form-label{*width:8em;}
.ks-form-fieldset-label10 .ks-form-layout th{min-width:10em;}
.ks-form-fieldset-label10 .ks-form-label{*width:10em;}
.ks-form-fieldset-label12 .ks-form-layout th{min-width:12em;}
.ks-form-fieldset-label12 .ks-form-label{*width:12em;}
.ks-form-fieldset-label14 .ks-form-layout th{min-width:14em;}
.ks-form-fieldset-label14 .ks-form-label{*width:14em;}

.ks-form-calendar{position:relative;}
.ks-form-calendar .ks-form-trigger{position:absolute;right:11px;top:3px;*top:5px;width:13px;height:13px;overflow:hidden;line-height:1000px;background:url(img/icon.png) no-repeat -80px 0;}
.ks-form-calendar .ks-form-trigger-disabled{background-position:-100px 0;cursor:default;}

.ks-form-select{position:relative;}
.ks-form-select .ks-form-trigger{position:absolute;right:9px;top:1px;*top:3px;width:17px;height:18px;overflow:hidden;line-height:1000px;background:url(img/icon.png) no-repeat 0 -61px;}
.ks-form-select .ks-form-trigger-disabled{background-position:-20px -61px;cursor:default;}

.ks-form-numericupdown{position:relative;}
.ks-form-numericupdown .ks-form-trigger{position:absolute;right:9px;top:1px;*top:3px;width:17px;height:18px;overflow:hidden;line-height:1000px;}
.ks-form-numericupdown .ks-form-trigger-up{display:block;width:17px;height:9px;background:url(img/icon.png) no-repeat -40px -61px;}
.ks-form-numericupdown .ks-form-trigger-down{display:block;width:17px;height:9px;background:url(img/icon.png) no-repeat -40px -70px;}
.ks-form-numericupdown .ks-form-trigger-up-disabled{background-position:-60px -61px;cursor:default;}
.ks-form-numericupdown .ks-form-trigger-down-disabled{background-position:-60px -70px;cursor:default;}

