/**
 * Tab
 * @creator 沉鱼<fool2fish@gmail.com>
 */

/***********************************************************************************************************************
 * @公共样式
 **********************************************************************************************************************/
.ks-tab{position:relative;margin-bottom:10px;}
.ks-tab-trigger-container{position:relative;height:28px;padding-left:15px;padding-bottom:2px;background:url(img/bar-repeatx.png) repeat-x 0 -439px;}
.ks-tab-trigger{position:relative;float:left;margin-top:2px;margin-right:3px;padding:0 15px;line-height:24px;font-weight:bold;border:1px solid #ddd;border-bottom:1px solid #bad6ff;background:#e6e6e6 url(img/bar-repeatx.png) repeat-x 0 -110px;cursor:pointer;}
.ks-tab-trigger-top s,
.ks-tab-trigger-top b{position:absolute;width:4px;height:4px;overflow:hidden;font-size:0;line-height:0;background:url(img/bar-repeatx.png) no-repeat -3px -100px;}
.ks-tab-trigger-top s{left:-1px;top:-1px;}
.ks-tab-trigger-top b{right:-1px;top:-1px;background-position:0 -100px;}

.ks-tab-trigger-active{margin-top:0;line-height:26px;border:1px solid #bad6ff;border-bottom:1px solid #cce1ff;background-color:#cce1ff;background-position:0 -10px;}
.ks-tab-trigger-active .ks-tab-trigger-top s{background-position:-3px 0;}
.ks-tab-trigger-active .ks-tab-trigger-top b{background-position:0 0;}

.ks-tab-panel{border:1px solid #bad6ff;*zoom:1;}
.ks-tab-panel-bottom{display:block;position:relative;height:4px;margin-top:-4px;z-index:10;clear:both;}
.ks-tab-panel-bottom s,
.ks-tab-panel-bottom b{width:4px;height:4px;overflow:hidden;font-size:0;line-height:0;background:url(img/bar-repeatx.png) no-repeat -3px -3px;}
.ks-tab-panel-bottom s{float:left;}
.ks-tab-panel-bottom b{float:right;;background-position:0 -3px;}

.ks-subtab-trigger-container{height:27px;overflow:hidden;border-bottom:1px dashed #ddd;background:#f2f2f2 url(img/bar-repeatx.png) repeat-x 0 -110px;}
.ks-subtab-trigger{float:left;margin-top:5px;margin-left:-2px;padding:0 15px;border-left:1px solid #ddd;cursor:pointer;}
.ks-subtab-trigger-active{color:#005ed9;}


