#if($fd.desc)
<li class="toctree-l1"><a class="reference internal" href="seed/index.html">${fd.name}</a>($fd.getType().getSimpleName()):${fd.desc}
    #if($fd.typeDesc)
    <ul>
        #foreach($subfd in $fd.typeDesc.getFieldsDesc())
        $control.setTemplate('apiDesc.vm').setParameter('fd',$subfd)
        #end
    </ul>
    #end
</li>
#end
