/**
navigation-view style
*/
.ks-navigation-bar {
  background-color: #06517e;
  background-image: -webkit-linear-gradient(top, #0980c7, #076196 3%, #054166);
  border-color: #000;
  padding: 0 0.2em;
  position: relative;
  min-height: 2.6em;
  overflow: hidden;
  font-size: 18px;
}
.ks-navigation-bar-title-wrap {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  color: white;
  line-height: 2.1em;
  font-size: 1.2em;
  margin: 0 0.3em;
  padding: 0 0.3em;
  text-align: center;
  font-weight: bold;
  max-width: 100%;
}
.ks-navigation-bar-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ks-navigation-bar-content {
  display: -webkit-box;
}
.ks-navigation-bar-center {
  -webkit-box-flex: 1;
}
.ks-navigation-bar-button {
  outline: none;
  margin: 6px 0.2em;
  -webkit-border-radius: 0.4em;
  padding: 0 0.6em;
  margin-left: 0.77217em;
  padding-left: .4em;
  background-image: -webkit-linear-gradient(top, #0870af, #06517e 3%, #04324d);
  border: 1px solid #000304;
  border-top-color: #01121d;
  background-color: #054166;
  color: #fff;
  -webkit-box-align: center;
  position: relative;
  overflow: visible;
  height: 1.7em;
  z-index: 1;
}
.ks-navigation-bar-button-hidden {
  display: none;
}
.ks-navigation-bar-backward:before,
.ks-navigation-bar-backward:after {
  content: '';
  position: absolute;
  width: 15px;
  height: auto;
  top: -2px;
  left: auto;
  bottom: -2px;
  z-index: 2;
  -webkit-mask: 4px 0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAABGCAYAAADb7SQ4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAiNJREFUeNrEWb9LQlEUvj5BcHoQvMnVKXD1D3CLwqBJbHJsazQaWoSCxgbHJiMIAiNok6AhCDdXVycnJ8EQOgeOYaG+d39998KH+HyP753zzjnfd325xfdSgVeV8B6BScuEV0IRSbxHeCMk/AVFXCA8ScQKSXxPqK0fQBBfE5r/D+Y8VzUT9jb94DPimqRYIYkrhGcpKhhxIqTxrpNcExdlQJTTTnRJnCc8ykhUSOIOoZ71ZFfEZ4S2zgUu+rguxZRHEnPbfKRVsOtUl0RtYpOLTYljIS2Z3nVk2DY9SbNCEt8RDm0rUpe4La1jvXSqmtum72raZI24KuNQIYl/nSGSOJb0Jq61M0pxhjwK9304hUjHGSKILzc5Q5drUzttdYY+I97pDH1FzG0zNFUb04gTG4kzJS5kdYauiZtZnaFr4ooKsCIVaDHxKAQxt1NBnGIVHfGCcEQYh3jGU8KBfMKLiyM+lgzAq/qT0ArVTg+Ei1B9fEPoovV4fcfQd2HedScX39GprwGTNjJn0maTELN6IuSzECLB6T5x2eM66jQgnIeSxa60GnS3uL56tr7b1Ai0JPVwYi6yho2U2lgfKym19VxjMRHzEGbvS9K+RBPzetGVUpf29lZHSl2/DMnLvwh1ZMQrKW3Ic4fvJOZS6ZMQW5hpmpT63DvtlFLfm7bBNruM2C2yXb7y3U6ZpRS5P/4jpUjihRTbCJ3q1eL3GMMfAQYAJmB6SBO619IAAAAASUVORK5CYII=') no-repeat;
  -webkit-mask-size: 15px 100%;
  overflow: hidden;
}
.ks-navigation-bar-backward:before {
  background: #000304;
  left: -15px;
}
.ks-navigation-bar-backward:after {
  background-color: #054166;
  background-image: -webkit-linear-gradient(top, #0870af, #06517e 3%, #04324d);
  left: -14px;
}
.ks-navigation-bar-button-active,
.ks-navigation-bar-button-active.ks-navigation-bar-backward:after {
  background-color: #043857;
  background-image: -webkit-linear-gradient(top, #021926, #03283f 10%, #043857 65%, #043a59);
}
.ks-navigation-view {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.ks-navigation-view-content {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
}
.ks-navigation-view-content > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.ks-navigation-view-loading-hidden,
.ks-navigation-view-content .ks-scroll-view-hidden {
  visibility: hidden;
  display: block;
}
.ks-navigation-view-loading {
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
.ks-navigation-view-loading .ks-navigation-view-loading-outer,
.ks-navigation-view-loading .ks-navigation-view-loading-inner {
  width: 48px;
  height: 48px;
  background: url(//gtms03.alicdn.com/tps/i3/T1uPOOFfVaXXbLNxnk-96-192.png) no-repeat center center;
  background-size: 48px;
}
.ks-navigation-view-loading .ks-navigation-view-loading-outer {
  background-position: 0 -48px;
}
.ks-navigation-view-loading .ks-navigation-view-loading-inner {
  -webkit-animation: spin 1s infinite linear;
  background-position: 0 0;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
/**
* provided by easytouch
* @author youxiao
*/
.ks-navigation-view-anim-slide-left-enter {
  -webkit-animation: ks-navigation-view-anim-slide-left-enter 0.25s ease-in-out;
}
.ks-navigation-view-anim-slide-right-leave {
  -webkit-animation: ks-navigation-view-anim-slide-right-leave 0.25s ease-in-out;
}
@-webkit-keyframes ks-navigation-view-anim-slide-left-enter {
  0% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes ks-navigation-view-anim-slide-right-leave {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
  }
}
.ks-navigation-view-anim-slide-right-enter {
  -webkit-animation: ks-navigation-view-anim-slide-right-enter 0.25s ease-in-out;
}
.ks-navigation-view-anim-slide-left-leave {
  -webkit-animation: ks-navigation-view-anim-slide-left-leave 0.25s ease-in-out;
}
@-webkit-keyframes ks-navigation-view-anim-slide-right-enter {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes ks-navigation-view-anim-slide-left-leave {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
.ks-navigation-view-anim-slide-top-enter {
  -webkit-animation: ks-navigation-view-anim-slide-top-enter 0.25s ease-in-out;
}
.ks-navigation-view-anim-slide-bottom-leave {
  -webkit-animation: ks-navigation-view-anim-slide-bottom-leave 0.25s ease-in-out;
}
@-webkit-keyframes ks-navigation-view-anim-slide-top-enter {
  0% {
    -webkit-transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes ks-navigation-view-anim-slide-bottom-leave {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100%);
  }
}
.ks-navigation-view-anim-slide-bottom-enter {
  -webkit-animation: ks-navigation-view-anim-slide-bottom-enter 0.25s ease-in-out;
}
.ks-navigation-view-anim-slide-top-leave {
  -webkit-animation: ks-navigation-view-anim-slide-top-leave 0.25s ease-in-out;
}
@-webkit-keyframes ks-navigation-view-anim-slide-bottom-enter {
  0% {
    -webkit-transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes ks-navigation-view-anim-slide-top-leave {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
  }
}
.ks-navigation-view-anim-fade-enter {
  -webkit-animation: ks-navigation-view-anim-fade-enter 0.225s ease-out;
}
.ks-navigation-view-anim-fade-leave {
  -webkit-animation: ks-navigation-view-anim-fade-leave 0.125s ease-in;
}
@-webkit-keyframes ks-navigation-view-anim-fade-enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes ks-navigation-view-anim-fade-leave {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ks-navigation-view-anim-dissolve-enter {
  -webkit-animation: ks-navigation-view-anim-dissolve-enter 0.125s ease-out;
}
.ks-navigation-view-anim-dissolve-leave {
  z-index: 2;
  -webkit-animation: ks-navigation-view-anim-dissolve-leave 0.225s ease-in;
}
@-webkit-keyframes ks-navigation-view-anim-dissolve-enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes ks-navigation-view-anim-dissolve-leave {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ks-navigation-view-anim-pop-enter {
  -webkit-animation: ks-navigation-view-anim-pop-enter 0.35s ease-out;
}
.ks-navigation-view-anim-pop-leave {
  -webkit-animation: ks-navigation-view-anim-pop-leave 0.1s ease-in;
}
@-webkit-keyframes ks-navigation-view-anim-pop-enter {
  0% {
    -webkit-transform: scale(0.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes ks-navigation-view-anim-pop-leave {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.2);
    opacity: 0;
  }
}
.ks-navigation-view-anim-flip-left-enter,
.ks-navigation-view-anim-flip-right-leave {
  -webkit-transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
}
.ks-navigation-view-anim-flip-left-enter {
  opacity: 0;
  -webkit-animation: ks-navigation-view-anim-flip-left-enter 0.225s ease-out;
  -webkit-animation-delay: 0.1575s;
}
.ks-navigation-view-anim-flip-right-leave {
  -webkit-animation: ks-navigation-view-anim-flip-right-leave 0.175s ease-in;
}
@-webkit-keyframes ks-navigation-view-anim-flip-left-enter {
  0% {
    opacity: 1;
    -webkit-transform: rotateY(-90deg) scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0) scale(1);
  }
}
@-webkit-keyframes ks-navigation-view-anim-flip-right-leave {
  0% {
    -webkit-transform: rotateY(0) scale(1);
  }
  100% {
    -webkit-transform: rotateY(90deg) scale(0.9);
  }
}
.ks-navigation-view-anim-flip-left-leave,
.ks-navigation-view-anim-flip-right-enter {
  -webkit-transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
}
.ks-navigation-view-anim-flip-right-enter {
  opacity: 0;
  -webkit-animation: ks-navigation-view-anim-flip-right-enter 0.225s ease-out;
  -webkit-animation-delay: 0.1575s;
}
.ks-navigation-view-anim-flip-left-leave {
  -webkit-animation: ks-navigation-view-anim-flip-left-leave 0.175s ease-in;
}
@-webkit-keyframes ks-navigation-view-anim-flip-right-enter {
  0% {
    opacity: 1;
    -webkit-transform: rotateY(90deg) scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0) scale(1);
  }
}
@-webkit-keyframes ks-navigation-view-anim-flip-left-leave {
  0% {
    -webkit-transform: rotateY(0) scale(1);
  }
  100% {
    -webkit-transform: rotateY(-90deg) scale(0.9);
  }
}
.ks-navigation-view-anim-swap-right-leave,
.ks-navigation-view-anim-swap-left-enter {
  -webkit-transform: perspective(800);
}
.ks-navigation-view-anim-swap-left-enter {
  -webkit-transform-origin: 0% 100%;
  -webkit-animation: ks-navigation-view-anim-swap-left-enter 0.6s ease-out;
}
.ks-navigation-view-anim-swap-right-leave {
  -webkit-transform-origin: 100% 100%;
  -webkit-animation: ks-navigation-view-anim-swap-right-leave 0.6s ease-out;
}
@-webkit-keyframes ks-navigation-view-anim-swap-left-enter {
  0% {
    -webkit-transform: translate3d(0, 0, -800px) rotateY(70deg);
    opacity: 0;
  }
  35% {
    -webkit-transform: translate3d(-25%, 0, -400px) rotateY(20deg);
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotateY(0);
  }
}
@-webkit-keyframes ks-navigation-view-anim-swap-right-leave {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotateY(0);
    opacity: 1;
  }
  35% {
    -webkit-transform: translate3d(25%, 0, -400px) rotateY(-20deg);
    opacity: .5;
  }
  100% {
    -webkit-transform: translate3d(0, 0, -800px) rotateY(-70deg);
    opacity: 0;
  }
}
.ks-navigation-view-anim-swap-right-enter,
.ks-navigation-view-anim-swap-left-leave {
  -webkit-transform: perspective(800);
}
.ks-navigation-view-anim-swap-left-leave {
  -webkit-transform-origin: 0% 100%;
  -webkit-animation: ks-navigation-view-anim-swap-left-leave 0.6s ease-out;
}
.ks-navigation-view-anim-swap-right-enter {
  -webkit-transform-origin: 100% 100%;
  -webkit-animation: ks-navigation-view-anim-swap-right-enter 0.6s ease-out;
}
@-webkit-keyframes ks-navigation-view-anim-swap-left-leave {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotateY(0deg);
    opacity: 1;
  }
  35% {
    -webkit-transform: translate3d(-25%, 0, -400px) rotateY(20deg);
    opacity: .5;
  }
  100% {
    -webkit-transform: translate3d(0, 0, -800px) rotateY(70deg);
    opacity: 0;
  }
}
@-webkit-keyframes ks-navigation-view-anim-swap-right-enter {
  0% {
    -webkit-transform: translate3d(0, 0, -800px) rotateY(-70deg);
    opacity: 0;
  }
  35% {
    -webkit-transform: translate3d(25%, 0, -400px) rotateY(-20deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotateY(0deg);
    opacity: 1;
  }
}
.ks-navigation-view-anim-cube-left-enter,
.ks-navigation-view-anim-cube-right-leave {
  -webkit-transform: perspective(800);
}
.ks-navigation-view-anim-cube-left-enter {
  -webkit-animation: ks-navigation-view-anim-cube-left-enter 0.6s ease;
}
.ks-navigation-view-anim-cube-right-leave {
  -webkit-animation: ks-navigation-view-anim-cube-right-leave 0.6s ease;
}
@-webkit-keyframes ks-navigation-view-anim-cube-left-enter {
  0% {
    -webkit-transform: rotateY(-90deg) translateX(-100%) translateZ(240px);
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes ks-navigation-view-anim-cube-right-leave {
  0% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(90deg) translateX(100%) translateZ(240px);
    opacity: .5;
  }
}
.ks-navigation-view-anim-cube-left-leave,
.ks-navigation-view-anim-cube-right-enter {
  -webkit-transform: perspective(800);
}
.ks-navigation-view-anim-cube-right-enter {
  -webkit-animation: ks-navigation-view-anim-cube-right-enter 0.6s ease;
}
.ks-navigation-view-anim-cube-left-leave {
  -webkit-animation: ks-navigation-view-anim-cube-left-leave 0.6s ease;
}
@-webkit-keyframes ks-navigation-view-anim-cube-right-enter {
  0% {
    -webkit-transform: rotateY(90deg) translateX(100%) translateZ(240px);
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes ks-navigation-view-anim-cube-left-leave {
  0% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(-90deg) translateX(-100%) translateZ(240px);
    opacity: .5;
  }
}
.ks-navigation-view-anim-flow-left-enter,
.ks-navigation-view-anim-flow-right-leave {
  -webkit-transform-origin: 50% 30%;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.ks-navigation-view-anim-flow-left-enter {
  -webkit-animation: ks-navigation-view-anim-flow-left-enter 0.35s ease;
  -webkit-animation-delay: 0.35s;
  -webkit-transform: translateX(-100%) scale(0.7);
}
.ks-navigation-view-anim-flow-right-leave {
  -webkit-animation: ks-navigation-view-anim-flow-right-leave 0.35s ease;
  -webkit-transform: translateX(100%) scale(0.7);
}
@-webkit-keyframes ks-navigation-view-anim-flow-left-enter {
  0% {
    -webkit-transform: translateX(-100%) scale(0.7);
  }
  30%,
  40% {
    -webkit-transform: translateX(0) scale(0.7);
  }
  100% {
    -webkit-transform: translateX(0) scale(1);
  }
}
@-webkit-keyframes ks-navigation-view-anim-flow-right-leave {
  0% {
    -webkit-transform: translateX(0) scale(1);
  }
  60%,
  70% {
    -webkit-transform: translateX(0) scale(0.7);
  }
  100% {
    -webkit-transform: translateX(100%) scale(0.7);
  }
}
.ks-navigation-view-anim-flow-left-leave,
.ks-navigation-view-anim-flow-right-enter {
  -webkit-transform-origin: 50% 30%;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.ks-navigation-view-anim-flow-right-enter {
  -webkit-animation: ks-navigation-view-anim-flow-right-enter 0.35s ease;
  -webkit-animation-delay: 0.35s;
  -webkit-transform: translateX(100%) scale(0.7);
}
.ks-navigation-view-anim-flow-left-leave {
  -webkit-animation: ks-navigation-view-anim-flow-left-leave 0.35s ease;
  -webkit-transform: translateX(-100%) scale(0.7);
}
@-webkit-keyframes ks-navigation-view-anim-flow-right-enter {
  0% {
    -webkit-transform: translateX(100%) scale(0.7);
  }
  30%,
  40% {
    -webkit-transform: translateX(0) scale(0.7);
  }
  100% {
    -webkit-transform: translateX(0) scale(1);
  }
}
@-webkit-keyframes ks-navigation-view-anim-flow-left-leave {
  0% {
    -webkit-transform: translateX(0) scale(1);
  }
  60%,
  70% {
    -webkit-transform: translateX(0) scale(0.7);
  }
  100% {
    -webkit-transform: translateX(-100%) scale(1);
  }
}
.ks-navigation-view-anim-turn-enter,
.ks-navigation-view-anim-turn-leave {
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 0;
}
.ks-navigation-view-anim-turn-enter {
  -webkit-animation: ks-navigation-view-anim-turn-enter 0.35s ease-out;
}
.ks-navigation-view-anim-turn-leave {
  z-index: 1;
  -webkit-animation: ks-navigation-view-anim-turn-leave 0.1s ease-in;
}
@-webkit-keyframes ks-navigation-view-anim-turn-enter {
  0% {
    -webkit-transform: rotateY(90deg) scale(0.9);
  }
  100% {
    -webkit-transform: rotateY(0);
  }
}
@-webkit-keyframes ks-navigation-view-anim-turn-leave {
  0% {
    -webkit-transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-90deg) scale(0.9);
  }
}
