/**
KISSY toggle button style for kissy editor
LoVe F HAte
@author yiminghe@gmail.com
**/

.ks-editor-button {
    display: inline-block;
    *display: inline;
    *zoom:1;
    margin: 2px;
    border-radius: 2px;
    padding: 3px 18px;
    border: 1px solid rgb(193, 200, 209);
    _padding-bottom: 2px;
    *padding-bottom: 2px;
    color: black;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: 0 1px 1px #E4E4E4;
    background: #e8ebee repeat-x left top;
    background-image: url("ks-editor-button-bg.png"); /** sprite-ref: cool; sprite-alignment: repeat;*/
}

.ks-editor-tools .ks-editor-button {
    padding: 0;
    box-shadow: none;
    background: none;
}

.ks-editor-toolbar-button {
    border: 1px solid transparent;
    /*透明边框 ie6 不支持 ,_hack*/
    _border-color: tomato;
    _filter: chroma(color = tomato);
    /*outline: none;*/
}

.ks-editor-tools .ks-editor-button-checked {
    border-color: #729BD1;
    background-color: #DDE1EB !important;
}

.ks-editor-button-hover, .ks-editor-button:hover {
    cursor: pointer;
    text-decoration: none;
    border-color: rgb(232, 204, 160);
    background: #f5e7ce repeat-x left top;
    background-image: url("ks-editor-button-bg-active.png"); /** sprite-ref: cool; sprite-alignment: repeat;*/
}

.ks-editor-tools .ks-editor-button-hover,
.ks-editor-tools .ks-editor-button:hover {
    background: none;
    border-color: rgb(206, 213, 224);
}

.ks-editor-button-disabled {
    opacity: 0.3;
    /*ie7不支持透明属性*/
    /*ie8 标准模式也需要，不知为何透明度不能作用下层*/
    filter: chroma(color = tomato) alpha(opacity = 30);
}

/*ie9 标准模式 filter 形成黑框*/
.ks-ie9 .ks-editor-button-disabled {
    filter: none;
}

/**
hover
**/
.ks-editor-tools .ks-editor-button-hover.ks-editor-button-checked {
    border-color: #a1badf;
}

/**
active
**/
.ks-editor-tools .ks-editor-button-active,
.ks-editor-button:active {
    border-color: #a1badf !important;
    background-color: #DDE1EB !important;
}