/**
    resize handler style for kissy editor
    @author yiminghe@gmail.com
**/
.ks-editor-resizer {
    background: no-repeat right bottom;
    background-image: url("resizer.png");/** sprite-ref: cool; */
    height: 10px;
    width: 10px;
    font-size:0;
    position: absolute;
    bottom: 0px;
    right: 0px;
    cursor: auto;
}
