<!doctype html>
<html>
<head>
<meta charset="utf8"/>
<title>KISSY.Template Test</title>
<link rel="stylesheet" href="../../../tools/jasmine/jasmine.css">
<script src="../../../tools/jasmine/jasmine.js"></script>
<script src="../../../tools/jasmine/jasmine-html.js"></script>

<script src="../../seed/kissy.js"></script>
<script src="../../seed/lang.js"></script>
<script src="../../seed/web.js"></script>
<script src="../../seed/loader.js"></script>
<script src="../../../build/ua.js"></script>
<script src="../../../build/node.js"></script>
<script src="../../../build/dom.js"></script>
<script src="../../../build/event.js"></script>
<script src="../../../build/base.js"></script>
<script src="../../../build/ajax.js"></script>
<script src="../../../build/json.js"></script>
<script src="../../../build/node.js"></script>
<script src="../../template.js"></script>
<script src="beautify.js"></script>
<script src="../base.js"></script>
<script src="template-spec.js"></script>
</head>

<body>
<script>
    jasmine.getEnv().addReporter(new jasmine.TrivialReporter());
    jasmine.getEnv().execute();
</script>
</body>
</html>

