.ks-editor-smiley-sprite {
    background: url("http://a.tbcdn.cn/sys/wangwang/smiley/sprite.png") no-repeat scroll -1px 0 transparent;
    height: 235px;
    width: 288px;
    margin: 5px;
    zoom: 1;
    overflow: hidden;
}

.ks-editor-smiley-sprite a {
    width: 24px;
    height: 24px;
    border: 1px solid white;
    float: left;
}

.ks-editor-smiley-sprite a:hover {
    border: 1px solid #808080;
}