/**
 * Box样式
 * @creator 沉鱼<fool2fish@gmail.com>
 */

/***********************************************************************************************************************
 * @默认（标准）盒子样式
 **********************************************************************************************************************/
.ks-box{margin-bottom:10px;}
.ks-box-wrapper{position:relative;overflow:visible;}
.ks-box-wrapper-rc-tl,
.ks-box-wrapper-rc-tr,
.ks-box-wrapper-rc-bl,
.ks-box-wrapper-rc-br{position:relative;width:4px;height:4px;overflow:hidden;font-size:0;line-height:0;background:url(box.png) no-repeat -3px 0;}
.ks-box-wrapper-rc-tl{float:left;}
.ks-box-wrapper-rc-tr{float:right;background-position:0 0;}
.ks-box-wrapper-rc-bl{float:left;margin-top:-4px;background-position:-3px -3px;}
.ks-box-wrapper-rc-br{float:right;margin-top:-4px;background-position:0 -3px;}
.ks-box-hd{border:1px solid #bad6ff;border-bottom:none;background:#cce1ff url(box.png) repeat-x 0 -10px;}
.ks-box-hd-wrapper{padding:3px 10px;border:1px solid #f6faff;border-bottom:none;}
.ks-box-hd-tit{display:inline-block;font-size:12px;font-weight:bold;color:#404040;}
.ks-box-bd{border:1px solid #bad6ff;background:#fff;}
.ks-box-bd-wrapper{padding:6px 10px;}
.ks-box-act{position:absolute;right:1px;top:4px;padding-right:5px;line-height:21px;}
.ks-box-act li{float:left;margin-right:10px;}
.ks-box .ks-box  .ks-box-hd-tit{font-weight:normal;}

/***********************************************************************************************************************
 * @强调盒子样式
 **********************************************************************************************************************/
.ks-box-strong .ks-box-wrapper-rc-tl{background-position:-3px -140px;}
.ks-box-strong .ks-box-wrapper-rc-tr{background-position:0 -140px;}
.ks-box-strong .ks-box-wrapper-rc-bl{background-position:-3px -143px;}
.ks-box-strong .ks-box-wrapper-rc-br{background-position:0 -143px;}
.ks-box-strong .ks-box-hd{border-color:#80b2ff;background-color:#a0beff;background-position:0 -150px;}
.ks-box-strong .ks-box-bd{border-color:#80b2ff;}

/***********************************************************************************************************************
 * @弱化盒子样式
 **********************************************************************************************************************/
.ks-box-weak .ks-box-wrapper-rc-tl{background-position:-3px -70px;}
.ks-box-weak .ks-box-wrapper-rc-tr{background-position:0 -70px;}
.ks-box-weak .ks-box-wrapper-rc-bl{background-position:-3px -73px;}
.ks-box-weak .ks-box-wrapper-rc-br{background-position:0 -73px;}
.ks-box-weak .ks-box-hd{border-color:#ccc;background-color:#f2f2f2;background-position:0 -80px;}
.ks-box-weak .ks-box-bd{border-color:#ccc;}

/***********************************************************************************************************************
 * @裸盒样式
 **********************************************************************************************************************/
.ks-box-naked .ks-box-wrapper-rc-tl,
.ks-box-naked .ks-box-wrapper-rc-tr,
.ks-box-naked .ks-box-wrapper-rc-bl,
.ks-box-naked .ks-box-wrapper-rc-br{display:none;}
.ks-box-naked .ks-box-hd{border:none;border-bottom:1px solid #d9e7fd;background:#fff;}
.ks-box-naked .ks-box-hd-wrapper{border-bottom:1px solid #b2d1ff;}
.ks-box-naked .ks-box-bd{border:none}