/**
* Variables to customize the look and feel from Bootstrap.
*
* @author yiminghe@gmail.com
*/

// Grays
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;


// Accent colors
// -------------------------
@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;


// Scaffolding
// -------------------------
@cssResetContext:       "ks-cssreset";
@bodyBackground:        @white;
@textColor:             @grayDark;


// Links
// -------------------------
@linkColor:             #0088cc;
@linkColorHover:        darken(@linkColor, 15%);


// Typography
// -------------------------
@baseFontSize:          12px;
@baseFontFamily:        tahoma, arial, ~"\5b8b\4f53", sans-serif;
@baseLineHeight:        1.5;

// GRID
// --------------------------------------------------

// Fixed grid 1200px
// -------------------------
@gridColumns:             24;
@gridColumnWidth:         40px;//default 60
@gridGutterWidth:         10px;//default 20
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));


// Fluid grid
// -------------------------
@fluidGridColumnWidth:    3.36134453%;//6.382978723%;
@fluidGridGutterWidth:    0.8403361344%;//2.127659574%;


// Tables
// -------------------------
@tableBackground:                   transparent; // overall background-color
@tableBackgroundAccent:             #f9f9f9; // for striping
@tableBackgroundHover:              #f5f5f5; // for hover
@tableBorder:                       #ddd; // table and cell border
@tableSelectColor:									#E6F2F8;


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:          1000;
@zindexPopover:           1010;
@zindexTooltip:           1020;
@zindexFixedNavbar:       1030;
@zindexModalBackdrop:     1040;
@zindexModal:             1050;