/*
双飞翼栅格布局 Flying Swing Grids Layout
理念：简单质朴，语义化布局。
维护：玉伯<lifesinger@gmail.com>, 正淳<ragecarrier@gmail.com>
*/

/* 居中 */
#header, #content, #footer {
    margin-left: auto;
    margin-right: auto;
}

/** 布局基础样式 **/
.col-main {
    float: left;
    width: 100%;
    /* bug fix: 主栏没有内容时，在 Firefox 和 Chrome 等浏览器下，布局不对 */
    min-height: 1px;
}
.col-sub, .col-extra {
    float: left;
    /*position: relative;  按需设置，仅在需要时添加 */
}

/** 清除浮动 **/
.layout:after, .main-wrap:after, .col-sub:after, .col-extra:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both;
}
.layout, .main-wrap, .col-sub, .col-extra {
    *zoom: 1;
}

@media handheld, only screen and (max-width: 767px) {
    /**
     * 针对移动版本
     *
     * @author mingcheng<i.feelinglucky#gmail.com>
     * @date   2010-11-17
     * @link   http://www.gracecode.com/
     */
    body.w950 #header,
    body.w950 #content,
    body.w950 #footer {
        width: 100%;
        max-width: 950px;
    }

    /** @TODO 考虑有无更好的办法 **/
    .col-extra,
    .col-main .main-wrap,
    .col-sub {
        width: 100%!important;
        margin: 10px 0 0 0!important;
    }

    .col-sub, .col-main {
        float: none;
    }
}

/* vim: set et sw=4 ts=4 sts=4 fdm=marker ff=unix ft=css fenc=utf8 nobomb: */
