<!doctype html>
<html>
<head>
<meta charset="utf-8"/>
<title>Component Test Runner</title>
<link rel="stylesheet" href="../../../tools/jasmine/jasmine.css">
<script src="../../../tools/jasmine/jasmine.js"></script>
<script src="../../../tools/jasmine/jasmine-html.js"></script>
<script src="../../../tools/jasmine/event-simulate.js"></script>

</head>
<body>
<h1>KISSY Component Test Cases</h1>

<script src="../../../build/kissy.js"></script>
<script src="../../../build/uibase.js"></script>
<script src="../src/Controller.js"></script>
<script src="../src/container.js"></script>
<script src="../src/decoratechild.js"></script>
<script src="../src/decoratechildren.js"></script>
<script src="../src/delegatechildren.js"></script>
<script src="../src/render.js"></script>
<script src="../src/uistore.js"></script>

<script src="component-spec.js"></script>
<script>
    KISSY.use("component", function(S, Component) {
        S.log(Component.DecorateChild);
        jasmine.getEnv().addReporter(new jasmine.TrivialReporter());
        jasmine.getEnv().execute(function() {
            if (parent && parent.jasmine.kissyNext) {
                parent.jasmine.kissyNext(this.results().failedCount);
            }
        });

    });
</script>
</body>
</html>