.ks-date-picker-year-panel {
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    z-index: 20;
    background: #ffffff;
    position: absolute;
    outline: none;
    border-bottom: 1px solid #9bc0e0;
}

.ks-ie6 .ks-date-picker-year-panel{
    height:~'expression(this.parentNode.offsetHeight)'
}

.ks-date-picker-year-panel-hidden {
    display: none;
}

.ks-date-picker-year-panel-prev-decade-btn,
.ks-date-picker-year-panel-next-decade-btn,
.ks-date-picker-year-panel-header {
    background: url('http://img03.taobaocdn.com/tps/i3/T1d4OJXkpxXXXXXXXX-19-300.png');
}

.ks-ie6 .ks-date-picker-year-panel-prev-decade-btn,
.ks-ie6 .ks-date-picker-year-panel-next-decade-btn,
.ks-ie6 .ks-date-picker-year-panel-header {
    background-image: url('http://img01.taobaocdn.com/tps/i1/T10.uJXc4bXXXXXXXX-19-300.png');
}

.ks-date-picker-year-panel-header {
    background-repeat: repeat-x;
    background-position: 0 -240px;
    height: 26px;
    position: relative;
    text-align: center;
}

.ks-date-picker-year-panel-prev-decade-btn,
.ks-date-picker-year-panel-next-decade-btn {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 2px;
}

.ks-date-picker-year-panel-prev-decade-btn {
    background-position: 0 -60px;
    left: 0;
}

.ks-date-picker-year-panel-prev-decade-btn:hover {
    background-position: 0 -80px;
}

.ks-date-picker-year-panel-decade-select {
    color: #ffffff;
    line-height: 26px;
    text-decoration: none;
}

.ks-ie7 .ks-date-picker-year-panel-decade-select,
.ks-ie6 .ks-date-picker-year-panel-decade-select {
    position: relative;
    top: 5px;
}

.ks-ie6 .ks-date-picker-year-panel-decade-select {
    border-color: tomato;
    zoom: 1;
    filter: chroma(color=tomato);
}

.ks-date-picker-year-panel-decade-select-arrow {
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 0;
    vertical-align: middle;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #ffffff;
}

.ks-ie7 .ks-date-picker-year-panel-decade-select-arrow {
    padding-top: 2px;
    vertical-align: bottom;
}

.ks-ie6 .ks-date-picker-year-panel-decade-select-arrow {
    border-left-color: tomato;
    border-right-color: tomato;
    zoom: 1;
    filter: chroma(color=tomato);
}

.ks-date-picker-year-panel-decade-select:hover
.ks-date-picker-year-panel-decade-select-arrow {
    border-top-color: #f0ff00;
}

.ks-date-picker-year-panel-decade-select:hover {
    color: #f0ff00;
    border: 1px solid #8cc6ff;
    background: url('http://img03.taobaocdn.com/tps/i3/T1d4OJXkpxXXXXXXXX-19-300.png');
    background-position: 0 -268px;
}

.ks-date-picker-year-panel-next-decade-btn {
    background-position: 0 0;
    right: 0;

}

.ks-date-picker-year-panel-next-decade-btn:hover {
    background-position: 0 -20px;
}

.ks-date-picker-year-panel-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
}

.ks-date-picker-year-panel-cell {
    text-align: center;
}

.ks-date-picker-year-panel-year {
    color: #004499;
    line-height: 42px;
    text-decoration: none;
    display: block;
    border-radius: 2px;
    border: 1px solid transparent;
}

.ks-ie6 .ks-date-picker-year-panel-year {
    border-color: tomato;
    zoom: 1;
    filter: chroma(color=tomato);
}

.ks-date-picker-year-panel-year:hover {
    background-color: #f3f9ff;
    border-color: #88b1ea;
}

.ks-date-picker-year-panel-selected-cell .ks-date-picker-year-panel-year {
    color: #fff;
    background-color: #4187e7;
    border-color: #4187e7;
}

.ks-date-picker-year-panel-last-decade-cell .ks-date-picker-year-panel-year,
.ks-date-picker-year-panel-next-decade-btn-cell .ks-date-picker-year-panel-year {
    color: #bfbfbf;
}