.ks-tabs-tab {
    float: left;
    border: 1px solid red;
}

.ks-tabs-bar {
    overflow: hidden;
    zoom: 1;
    border: 1px solid green;
    outline: none;
}

.ks-tabs-body {
    border: 1px solid #db7093;
}

.ks-tabs-tab-selected {
    background: yellow;
}

.ks-tabs-panel {
    display: none;
}

.ks-tabs-panel-selected {
    display: block;
}