.pix-select {
    height:28px;
    background: #fff;
    overflow: hidden;
    width:280px;
    zoom:1;
}

.pix-menu-button-caption {
    float: left;
    width:248px;
    height:26px;
    line-height:26px;
    border: 1px solid #BFBFBF;
    border-right: none;
    font-size: 12px;
    padding-left:10px;
}

.pix-menu-button-dropdown {
    float: left;
    background:url(http://img03.taobaocdn.com/tps/i3/T1gJJgXdRBXXaCwpjX.png) no-repeat;
    width:19px;
    height:26px;
    border: 1px solid #A0A0A0;
}

.pix-popupmenu {
    position: absolute;
    width: 280px;
    overflow: hidden;
    border: 1px solid #BFBFBF;
}

.pix-popupmenu .pix-option {
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    padding-left:10px;
    background: #fff;
}

.pix-popupmenu .pix-option-hover {
    background: #F2F2F2;
}