{{extend ('./layout')}}
{{#block ('head')}}
    <title>{{component}} test runner</title>
    <link rel="stylesheet" href="/kissy/tools/jasmine/jasmine.css">
    <link rel="stylesheet" href="/kissy/build/css/dpl/base.css"/>
    <style>
        #TrivialReporter {
            position: static;
        }
        body {
            overflow-y: visible;
        }
    </style>
    {{#each (externalLinks)}}
        <link rel="stylesheet" href="{{{this}}}"/>
    {{/each}}

    <style>
        {{{externalStyle}}}
    </style>
    {{#if (query.min)}}
        {{#if (loader)}}
            <script src="/kissy/build/loader-min.js"></script>
        {{else}}
            <script src="/kissy/build/seed-min.js"></script>
        {{/if}}
    {{else}}
        {{#if (loader)}}
            <script src="/kissy/build/loader.js"></script>
        {{else}}
            <script src="/kissy/build/seed.js"></script>
        {{/if}}
    {{/if}}
    <script>
        var component = '{{{component}}}';
        window.travisJobId='{{{travisJobId}}}';
        delete KISSY.Env.mods[component];
        {{{externalScript}}}
    </script>
    <script src="/kissy/src/package.js"></script>
    <script>
        (function(){
            if(location.search.indexOf('coverage')!==-1){
                var lastPart = component;
                var lastSlashIndex=component.lastIndexOf('/');
                if(lastSlashIndex!=-1){
                    lastPart=lastPart.slice(lastSlashIndex+1);
                }
                var packages=KISSY.config('packages');
                packages[component].base = KISSY.Loader.Utils.normalizePath(packages[component].base,('../../coverage/src/'+lastPart+'/'));
            }
        })();
    </script>
    <script src="/kissy/tools/jasmine/jasmine.js"></script>
    <script src="/kissy/tools/jasmine/jasmine-html.js"></script>
    <script src="/kissy/tools/jasmine/jasmine.console_reporter.js"></script>
    <script src="/kissy/tools/jasmine/kissy-report.js"></script>
    <script src="/kissy/tools/jasmine/init.js"></script>
    <script src="/kissy/tools/jasmine/event-simulate.js"></script>
    {{#each (externalScripts)}}
        <script src="{{{this}}}"></script>
    {{/each}}
{{/block}}
{{#block ('body')}}
    <h1 style="text-align: center">{{component}} test cases</h1>
    {{{html}}}
    <script>
    window.xxx = (function(){
        function endsWith(str, suffix) {
            var ind = str.length - suffix.length;
            return ind >= 0 && str.indexOf(suffix, ind) === ind;
        }
        var tests=['specs/'], S=KISSY;
        S.config('packages',{
            specs:{
                debug:1,
                base: endsWith(location.href.replace(/\?.+$/,''),
                        'runner')?'./':'../'
            },
            src:{
                debug:1,
                base:'/kissy/'
            }
        });

        {{#if (tests)}}
            tests.shift();
        {{/if}}

        {{#each (tests)}}
            tests.push('specs/{{{this}}}');
        {{/each}}

        {{{script}}}

        S.use(tests, function () {
            jasmine.getEnv().execute();
        });
    })();
    </script>
{{/block}}