{{extend './layout'}}
{{#block 'head'}}
    <title>{{component}} test runner</title>
    <link rel="stylesheet" href="/kissy/tools/jasmine/jasmine.css">
    <link rel="stylesheet" href="/kissy/build/css/dpl/base.css"/>
    <style>
        #TrivialReporter {
            position: static;
        }
    </style>
    {{#each externalLinks}}
        <link rel="stylesheet" href="{{{.}}}"/>
    {{/each}}

    <style>
        {{{externalStyle}}}
    </style>
    {{#if query.min}}
        {{#if loader}}
            <script src="/kissy/build/loader-min.js"></script>
        {{else}}
            <script src="/kissy/build/seed-min.js"></script>
        {{/if}}
    {{else}}
        {{#if loader}}
            <script src="/kissy/build/loader.js"></script>
        {{else}}
            <script src="/kissy/build/seed.js"></script>
        {{/if}}
    {{/if}}
    <script>
        var component = '{{{component}}}';
        delete KISSY.Env.mods[component];
        {{{externalScript}}}
    </script>
    <script src="/kissy/src/package.js"></script>
    <script>
        (function(){
            var loc=new KISSY.Uri(location.href);
            if(loc.getQuery().has('coverage')){
                var lastPart = component;
                var lastSlashIndex=component.lastIndexOf('/');
                if(lastSlashIndex!=-1){
                    lastPart=lastPart.slice(lastSlashIndex+1);
                }
                var packages=KISSY.config('packages');
                packages[component].uri= packages[component].uri.resolve('../../coverage/src/'+lastPart+'/');
            }
        })();
    </script>
    <script src="/kissy/tools/jasmine/jasmine.js"></script>
    <script src="/kissy/tools/jasmine/jasmine-html.js"></script>
    <script src="/kissy/tools/jasmine/jasmine.console_reporter.js"></script>
    <script src="/kissy/tools/jasmine/kissy-report.js"></script>
    <script src="/kissy/tools/jasmine/init.js"></script>
    <script src="/kissy/tools/jasmine/event-simulate.js"></script>
    {{#each externalScripts}}
        <script src="{{{.}}}"></script>
    {{/each}}
{{/block}}
{{#block 'body'}}
    <h1 style="text-align: center">{{component}} test cases</h1>
    {{{html}}}
    <script>
        var tests=['specs/'], S=KISSY;

        S.config('packages',{
            specs:{
                debug:1,
                base:'../'
            },
            src:{
                debug:1,
                base:'/kissy/'
            }
        });

        {{#if tests}}
            tests.shift();
        {{/if}}

        {{#each tests}}
            tests.push('specs/{{{.}}}');
        {{/each}}

        {{{script}}}

        S.use(tests, function () {
            jasmine.getEnv().execute();
        });
    </script>
{{/block}}