{{extend ('./layout')}}
{{#block ('head')}}
<script src="/kissy/src/loader/tests/others/import.js"></script>
<script src="/kissy/build/??ua-debug.js,feature-debug.js,meta-debug.js"></script>
{{/block}}
{{#block ('body')}}
    <h1>KISSY 集成化测试</h1>
    <div id="iframe">

    </div>

    <script src="/kissy/tools/test/test.js"></script>

    <script>
    (function(){
        function endsWith(str, suffix) {
            var ind = str.length - suffix.length;
            return ind >= 0 && str.indexOf(suffix, ind) === ind;
        }
        var onlySrc = location.href.indexOf('onlySrc') !== -1;
        var t;
        {{#each (tests)}}
        t='{{{this}}}';
        if(!endsWith(t,'?coverage') && t!='/send-to-coveralls'){
            if(onlySrc && t.indexOf(t,'?build')!== -1){

            }else{
                tests.push(t);
            }
        }
        {{/each}}
        document.write(tests.join("<br>"));
    })();
    </script>
{{/block}}