{{extend ('./layout')}}
{{#block ('head')}}
<script src="/kissy/build/seed-debug.js"></script>
{{/block}}
{{#block ('body')}}
<h1>KISSY 集成化测试</h1>
<div id="iframe"></div>
<script src="/gen/tests.js"></script>
<script>
    (function () {
        var onlySrc = location.href.indexOf('onlySrc') !== -1;
        for (var i = tests.length - 1; i >= 0; i--) {
            var t = tests[i];
            if (onlySrc && t.indexOf(t, '?build') !== -1) {
                tests.splice(i, 1);
            }
        }
        document.write(tests.join("<br>"));
    })();
</script>
<script src="/kissy/src/test.js"></script>
{{/block}}