/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */

/*
 * Standard styling for menus created by goog.ui.MenuItemRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */

/* State: resting. */
.ks-menuitem {
    color: #000;
    font: normal 13px Arial, sans-serif;
    list-style: none;
    margin: 0;
    /* 28px on the left for icon or checkbox; 7em on the right for shortcut. */
    padding: 4px 7em 4px 28px;
    white-space: nowrap;
    /*ie6 can hover*/
    position: relative;
}

/* If a menu doesn't have checkable items or items with icons, remove padding. */
.ks-menu-nocheckbox .ks-menuitem,
.ks-menu-noicon .ks-menuitem {
    padding-left: 12px;
}

/*
 * If a menu doesn't have items with shortcuts, leave just enough room for
 * submenu arrows, if they are rendered.
 */
.ks-menu-noaccel .ks-menuitem {
    padding-right: 20px;
}

.ks-menuitem-content {
    font: normal 13px Arial, sans-serif;
}

/* State: disabled. */
.ks-menuitem-disabled .ks-menuitem-accel,
.ks-menuitem-disabled {
    color: #ccc !important;
}

.ks-menuitem-disabled .ks-menuitem-icon {
    opacity: 0.3;
    -moz-opacity: 0.3;
    filter: alpha(opacity = 30);
}

/* State: hover. */
.ks-menuitem-highlight,
.ks-menuitem-active,
.ks-menuitem-hover {
    background-color: #d6e9f8;
    /* Use an explicit top and bottom border so that the selection is visible
       * in high contrast mode. */
    border-color: #d6e9f8;
    border-style: dotted;
    border-width: 1px 0;
    padding-bottom: 3px;
    padding-top: 3px;
}

/* State: selected/checked. */
.ks-menuitem-checkbox,
.ks-menuitem-icon {
    background-repeat: no-repeat;
    height: 16px;
    left: 6px;
    position: absolute;
    right: auto;
    vertical-align: middle;
    width: 16px;
}

.ks-menuitem-checked .ks-menuitem-checkbox,
.ks-menuitem-checked.ks-menuitem-icon {
    /* Client apps may override the URL at which they serve the sprite. */
    background: url(https://ssl.gstatic.com/editor/editortoolbar.png) no-repeat -512px 0;
}

/* Keyboard shortcut ("accelerator") style. */
.ks-menuitem-accel {
    color: #999;
    /* Keyboard shortcuts are untranslated; always left-to-right. */
    /* @noflip */
    direction: ltr;
    left: auto;
    padding: 0 6px;
    position: absolute;
    right: 0;
    text-align: right;
}
