/*
BigBang Grids Layout
维护：玉伯(lifesinger@gmail.com), 正淳(ragecarrier@gmail.com)
*/

/** common styles **/
body {
    font: 14px '微软雅黑', serif;
    color: #404040;
}
a {
    color: #404040;
}
a:hover {
    text-decoration: none;
}
.hidden {
    display: none;
}
.button {
    line-height: 1.2em;
    padding: 4px 10px;
    background-color: #B0F700;
    border: 1px solid #6CB100;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    cursor: pointer;
}
.button:hover {
    color: #000;
    border-color: #4C7E00;
}
#header, #footer {
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 70px;
    color: #a3b4ae;
    background: #99a8a2;
}
#header {
    position: relative;
    margin-bottom: 10px;
}
#page-width {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 14px;
}
.section {
    text-align: center;
    margin: 10px 0;
}

/** grid styles **/
#page,
.grid, .main-wrap, .col-sub, .col-extra {
    background: #F5F5F5 url(layout-bg.png);
}
.grid, .main-wrap { background-color: #99A8A2; }
.main-wrap .tool-box { border-color: #99A8A2; background: url(no-1.png) 50% 50% no-repeat; }

.col-sub { background-color: #9CF; }
.col-sub .tool-box { border-color: #9CF; background: url(no-2.png) 50% 50% no-repeat; }
.dd-proxy { opacity: .7; filter: alpha(opacity=70); z-index: 999; }
.col-sub .dd-proxy { background-color: #9CF; }

.col-extra { background-color: #CF9; }
.col-extra .tool-box { border-color: #CF9; background: url(no-3.png) 50% 50% no-repeat; }
.col-extra .dd-proxy { background-color: #CF9; }

.layout { margin-bottom: 10px; }
.tool-box {
    position: relative;
    padding: 10px;
    height: 90px;
    line-height: 90px;
    border: #99A8A2 1px solid;
    text-align: right;
}
.col-width {
    font: 18px 'Courier New', monospace;
    padding: 0 10px;
}

/** drag & drop **/
.col-strip {
    position: absolute;
    top: 50%;
    left: 0;
    margin: -15px 0 0;
    height: 30px;
    width: 100%;
    background: url(handle-bg.png);
}
/* 拉动：改变宽度 */
.resize-handle {
    float: left;
    margin: 1px;
    width: 8px;
    height: 28px;
    background: url(resize-handle.png) no-repeat;
    cursor: e-resize;
    text-indent: -999999px;
    overflow: hidden;
}
.float-right .resize-handle {
    float: right;
}
/* 拖动：改变位置 */
.dd-handle {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    width: 30px;
    height: 30px;
    background: url(dd-handle.png) 0 -1px no-repeat;
    cursor: move;
    text-indent: -999999px;
    overflow: hidden;
}
.dd-handle:hover {
    background-position: 0 -30px;
}
.col-extra .dd-handle {
    background-position: -30px -1px;
}
.col-extra .dd-handle:hover {
    background-position: -30px -30px;
}
/* 删除列 */
.del-col {
    position: absolute;
    right: 2px;
    top: 4px;
    width: 26px;
    height: 26px;
    background: url(close.png);
    cursor: pointer;
    text-indent: -999999px;
    overflow: hidden;
}
