/**
 * Bar
 * @creator 沉鱼<fool2fish@gmail.com>
 */

/***********************************************************************************************************************
 * @公共样式
 **********************************************************************************************************************/
.ks-bar{position:relative;border-top:1px solid #bad6ff;border-bottom:1px solid #bad6ff;background:#cce1ff url(img/bar-repeatx.png) repeat-x 0 -10px;}
.ks-bar-wrapper{min-height:18px;padding:3px 10px;border-top:1px solid #fff;}

/***********************************************************************************************************************
 * @强调样式
 **********************************************************************************************************************/
.ks-bar-strong{border-color:#80b2ff;background-color:#a0beff;background-position:0 -210px;}

/***********************************************************************************************************************
 * @标准样式
 **********************************************************************************************************************/
.ks-bar-normal{border-color:#bad6ff;background-color:#cce1ff;background-position:0 -10px;}

/***********************************************************************************************************************
 * @弱化样式
 **********************************************************************************************************************/
.ks-bar-weak{border-color:#ddd;background-color:#f2f2f2;background-position:0 -110px;}

/***********************************************************************************************************************
 * @裸样式
 **********************************************************************************************************************/
.ks-bar-naked{border-color:#ddd;background:#fafafa;}