/**
 * Box
 * @creator 沉鱼<fool2fish@gmail.com>
 */

/***********************************************************************************************************************
 * @公共样式
 **********************************************************************************************************************/
.ks-box{position:relative;margin-bottom:10px;}
.ks-box-ctl,
.ks-box-ctr,
.ks-box-cbl,
.ks-box-cbr{position:relative;width:4px;height:4px;overflow:hidden;font-size:0;line-height:0;background:url(img/bar-repeatx.png) no-repeat -3px 0;}
.ks-box-ctl{float:left;}
.ks-box-ctr{float:right;background-position:0 0;}
.ks-box-cbl{float:left;margin-top:-4px;background-position:-3px -3px;}
.ks-box-cbr{float:right;margin-top:-4px;background-position:0 -3px;}
.ks-box-hd{border:1px solid #bad6ff;border-bottom:none;background:#cce1ff url(img/bar-repeatx.png) repeat-x 0 -10px;}
.ks-box-hd-wrapper{padding:3px 10px;border:1px solid #f6faff;border-bottom:none;}
.ks-box-icon{display:inline;}
.ks-box-tit{display:inline;font-size:12px;font-weight:bold;}
.ks-box-bd{border:1px solid #bad6ff;background:#fff;}
.ks-box-act{position:absolute;right:1px;top:4px;padding-right:5px;line-height:21px;}
.ks-box-act li{float:left;margin-right:5px;}

/***********************************************************************************************************************
 * @强调样式
 **********************************************************************************************************************/
.ks-box-strong .ks-box-ctl{background-position:-3px -200px;}
.ks-box-strong .ks-box-ctr{background-position:0 -200px;}
.ks-box-strong .ks-box-cbl{background-position:-3px -203px;}
.ks-box-strong .ks-box-cbr{background-position:0 -203px;}
.ks-box-strong .ks-box-hd{border-color:#80b2ff;background-color:#a0beff;background-position:0 -210px;}
.ks-box-strong .ks-box-bd{border-color:#80b2ff;}

/***********************************************************************************************************************
 * @标准样式
 **********************************************************************************************************************/
.ks-box-normal .ks-box-ctl{background-position:-3px 0;}
.ks-box-normal .ks-box-ctr{background-position:0 0;}
.ks-box-normal .ks-box-cbl{background-position:-3px -3px;}
.ks-box-normal .ks-box-cbr{background-position:0 -3px;}
.ks-box-normal .ks-box-hd{border-color:#bad6ff;background-color:#cce1ff;background-position:0 -10px;}
.ks-box-normal .ks-box-bd{border-color:#bad6ff;}

/***********************************************************************************************************************
 * @弱化样式
 **********************************************************************************************************************/
.ks-box-weak .ks-box-ctl{background-position:-3px -100px;}
.ks-box-weak .ks-box-ctr{background-position:0 -100px;}
.ks-box-weak .ks-box-cbl{background-position:-3px -103px;}
.ks-box-weak .ks-box-cbr{background-position:0 -103px;}
.ks-box-weak .ks-box-hd{border-color:#ddd;background-color:#f2f2f2;background-position:0 -110px;}
.ks-box-weak .ks-box-bd{border-color:#ddd;}

/***********************************************************************************************************************
 * @裸样式
 **********************************************************************************************************************/
.ks-box-naked .ks-box-ctl,
.ks-box-naked .ks-box-ctr,
.ks-box-naked .ks-box-cbl,
.ks-box-naked .ks-box-cbr{display:none;}
.ks-box-naked .ks-box-hd{border:none;border-bottom:1px solid #d9e7fd;background:#fff;}
.ks-box-naked .ks-box-hd-wrapper{border:none;border-bottom:1px solid #b2d1ff;}
.ks-box-naked .ks-box-bd{border:none}