/**
 * Datagrid
 * @creator 沉鱼<fool2fish@gmail.com>
 */

/***********************************************************************************************************************
 * @公共样式
 **********************************************************************************************************************/

/*表格部分*/
.ks-datagrid-table{width:100%;overflow:hidden;}
.ks-datagrid th,
.ks-datagrid td{padding:5px;text-align:left;}
.ks-datagrid th{background:#f2f2f2 url(img/bar-repeatx.png) repeat-x 0 -110px;line-height:14px;vertical-align:bottom;border:1px solid #ccc;font-weight:bold;}
.ks-datagrid td{background:#fff;vertical-align:top;}

/*排序th*/
.ks-datagrid-cell-sortable{cursor:pointer;_text-decoration:underline;}
.ks-datagrid-cell-sortable .ks-datagrid-icon{display:inline-block;width:13px;height:13px;margin-left:5px;background:url(img/icon.png) no-repeat -100px -40px;}
.ks-datagrid-cell-sortable:hover{background:#dcdcdc url(img/bar-repeatx.png) repeat-x 0 -310px;}
.ks-datagrid-cell-asc,
.ks-datagrid-cell-desc{background-position:0 -310px;}
.ks-datagrid-cell-asc .ks-datagrid-icon{background-position:-100px -20px;}
.ks-datagrid-cell-desc .ks-datagrid-icon{background-position:-80px -20px;}

/*特殊列*/
.ks-datagrid .ks-datagrid-cell-extra{padding:5px 0;text-align:center;border-right:1px solid #ccc;background:#f9f9f9 url(img/bar-repeaty.png) repeat-y -110px 0;}

/*行*/
.ks-datagrid-row td{border-top:1px dashed #ccc;}
.ks-datagrid-row-even td{background:#f6f6f6;}
.ks-datagrid-row-extra{display:none;}
.ks-datagrid-row-expanded{display:table-row;*display:block;}
.ks-datagrid-row-selected td{background:#e1edff!important;}
.ks-datagrid-row-selected td.ks-datagrid-cell-extra{background:#cce1ff url(img/bar-repeaty.png) repeat-y -11px 0!important;}

/*表格内icon*/
.ks-datagrid-icon-checkbox,
.ks-datagrid-icon-radio,
.ks-datagrid-icon-expand{display:inline-block;width:13px;height:13px;margin:0 6px;cursor:pointer;background:url(img/icon.png) no-repeat 1000px 1000px;}
.ks-datagrid-icon-checkbox{background-position:0 -20px;}
.ks-datagrid-icon-checkbox:hover{background-position:-20px -20px;}
.ks-datagrid-row-selected  .ks-datagrid-icon-checkbox{background-position:-40px -20px;}
.ks-datagrid-row-selected  .ks-datagrid-icon-checkbox:hover{background-position:-60px -20px;}
.ks-datagrid-icon-radio{background-position:0 -40px;}
.ks-datagrid-icon-radio:hover{background-position:-20px -40px;}
.ks-datagrid-row-selected  .ks-datagrid-icon-radio{background-position:-40px -40px;}
.ks-datagrid-row-selected  .ks-datagrid-icon-radio:hover{background-position:-60px -40px;}
.ks-datagrid-icon-expand{width:11px;height:11px;background-position:-40px 0;}
.ks-datagrid-row-expanded .ks-datagrid-icon-expand{background-position:-60px 0;}

/*loading*/
.ks-datagrid-row-loading td{height:36px;border-bottom:1px solid #ccc;background:#fff url(http://assets.taobaocdn.com/app/lottery/v2/img/loading.gif) no-repeat 50% 50%;}

/*预置特殊行样式*/
.ks-datagrid-row-red td{background:#fec0c5;}
.ks-datagrid-row-yellow td{background:#fcf7c5;}
.ks-datagrid-row-green td{background:#e0f5c0;}
.ks-datagrid-row-gray td{background:#ddd;}


