/**
 * List
 * @creator 沉鱼<fool2fish@gmail.com>
 */

/***********************************************************************************************************************
 * @默认（标准）样式
 **********************************************************************************************************************/
.ks-list{overflow:hidden;}
.ks-list-li{margin-top:-1px;padding:4px 10px 5px 10px;border-top:1px solid #ddd;background:#f2f2f2 url(img/bar-repeatx.png) repeat-x 0 -80px;}

/***********************************************************************************************************************
 * @强调样式
 **********************************************************************************************************************/
.ks-list-strong .ks-list-li{border-color:#bad6ff;background-color:#cce1ff;background-position:0 -10px;}

/***********************************************************************************************************************
 * @标准样式
 **********************************************************************************************************************/
.ks-list-normal .ks-list-li{border-color:#ddd;background-color:#f2f2f2;background-position:0 -80px;}

/***********************************************************************************************************************
 * @弱化样式
 **********************************************************************************************************************/
.ks-list-weak .ks-list-li{border-top:1px dashed #ddd;background:#fff;}

/***********************************************************************************************************************
 * @裸样式
 **********************************************************************************************************************/
.ks-list-naked .ks-list-li{padding:1px 10px 0 10px;border:none;background:#fff;}