/**
 * Message
 * @creator 沉鱼<fool2fish@gmail.com>
 */

/***********************************************************************************************************************
 * @公共样式
 **********************************************************************************************************************/
.ks-msg{padding-top:1px;margin-bottom:6px;}
.ks-msg-wrapper{padding:3px 5px;border:1px solid #ffcc7f;background:#ffffe5;}
.ks-msg-icon{float:left;width:16px;height:16px;overflow:hidden;margin:1px 5px 1px 0;font-size:0;line-height:0;background:url(img/msg.png) no-repeat 0 -160px;}
.ks-msg-tit{display:inline;padding-right:2px;font-weight:bold;}
.ks-msg-con{display:inline;}

.ks-msg-error{border:1px solid #ff8080;background:#fff2f2;}
.ks-msg-error .ks-msg-icon{background-position:0 0;}
.ks-msg-stop{border:1px solid #ff8080;background:#fff2f2;}
.ks-msg-stop .ks-msg-icon{background-position:0 -40px;}
.ks-msg-alert{border:1px solid #ff8080;background:#fff2f2;}
.ks-msg-alert .ks-msg-icon{background-position:0 -80px;}
.ks-msg-attention{border:1px solid #40b3ff;background:#e5f5ff;}
.ks-msg-attention .ks-msg-icon{background-position:0 -120px;}
.ks-msg-tips{border:1px solid #ffcc7f;background:#ffffe5;}
.ks-msg-tips .ks-msg-icon{background-position:0 -160px;}
.ks-msg-ok{border:1px solid #4dbf00;background:#f0ffe5;}
.ks-msg-ok .ks-msg-icon{background-position:0 -200px;}
.ks-msg-notice{border:1px solid #40b3ff;background:#e5f5ff;}
.ks-msg-notice .ks-msg-icon{background-position:0 -240px;}
.ks-msg-question{border:1px solid #ffcc7f;background:#ffffe5;}   
.ks-msg-question .ks-msg-icon{background-position:0 -280px;}

/***********************************************************************************************************************
 * @强调样式
 **********************************************************************************************************************/
.ks-msg-strong{margin-bottom:10px;}
.ks-msg-strong .ks-msg-wrapper{padding:6px 10px;}
.ks-msg-strong .ks-msg-icon{width:32px;height:32px;margin-right:10px;background-position:100% -160px;}
.ks-msg-strong .ks-msg-tit{display:block;padding-left:0;font-size:14px;}
.ks-msg-strong .ks-msg-con{display:block;}

.ks-msg-strong .ks-msg-error .ks-msg-icon{background-position:100% 0;}
.ks-msg-strong .ks-msg-stop .ks-msg-icon{background-position:100% -40px;}
.ks-msg-strong .ks-msg-alert .ks-msg-icon{background-position:100% -80px;}
.ks-msg-strong .ks-msg-attention .ks-msg-icon{background-position:100% -120px;}
.ks-msg-strong .ks-msg-tips .ks-msg-icon{background-position:100% -160px;}
.ks-msg-strong .ks-msg-ok .ks-msg-icon{background-position:100% -200px;}
.ks-msg-strong .ks-msg-notice .ks-msg-icon{background-position:100% -240px;}
.ks-msg-strong .ks-msg-question .ks-msg-icon{background-position:100% -280px;}

/***********************************************************************************************************************
 * @标准样式
 **********************************************************************************************************************/

/***********************************************************************************************************************
 * @裸样式
 **********************************************************************************************************************/
.ks-msg-naked{margin-bottom:0;}
.ks-msg-naked .ks-msg-wrapper{padding:4px 10px 4px 0;border:none;background:none;}