.ks-scrollview {
    overflow: hidden !important;
    position: relative;
    /*do not use move cursor of dd*/
    cursor: default;
    outline: none;
}

.ks-scrollview-content {
    position: relative;
    left: 0;
    top: 0;
}

.ks-scrollbar-hidden {
    display: none;
}

.ks-scrollbar-y {
    position: absolute;
    right: 0;
    height: 100%;
    z-index: 9;
}

.ks-scrollbar-y-track,
.ks-scrollbar-y-drag,
.ks-scrollbar-y {
    width: 6px;
}

.ks-scrollbar-y-arrow-up,
.ks-scrollbar-y-arrow-down {
    display: none;
}

.ks-scrollbar-y-track {
    position: absolute;
    right: 3px;
    top: 0;
    bottom: 0;

}

.ks-ie6 .ks-scrollbar-y-track {
    height: expression(this.parentNode.clientHeight);
}

.ks-scrollbar-y-drag {
    position: absolute;
    background: #333;
    border-radius: 3px;
    opacity: 0.5;
}

.ks-ie6 .ks-scrollbar-y-drag,
.ks-ie7 .ks-scrollbar-y-drag,
.ks-ie8 .ks-scrollbar-y-drag {
    filter: alpha(opacity = 50);
}

.ks-scrollbar-x {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 9;
}

.ks-scrollbar-x-track,
.ks-scrollbar-x-drag,
.ks-scrollbar-x {
    height: 6px;
}

.ks-scrollbar-x-arrow-up,
.ks-scrollbar-x-arrow-down {
    display: none;
}

.ks-scrollbar-x-track {
    position: absolute;
    left: 0;
    right: 0;
}

.ks-ie6 .ks-scrollbar-x-track {
    width: expression(this.parentNode.clientWidth)
}

.ks-scrollbar-x-drag {
    position: absolute;
    background: #333;
    border-radius: 3px;
    opacity: 0.5;
}

.ks-ie6 .ks-scrollbar-x-drag,
.ks-ie7 .ks-scrollbar-x-drag,
.ks-ie8 .ks-scrollbar-x-drag {
    filter: alpha(opacity = 50);
}