/*
常用的基本样式 Base Style
理念：少而精
维护：玉伯<lifesinger@gmail.com>
*/

/* 隐藏 */
.hidden { display: none; }
.invisible { visibility: hidden; }

/* 清除浮动 */
.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
}
.clearfix { *zoom: 1; }
