<!--
  kissy 构建文件，开启每个组件的构建
  @author yiminghe@gmail.com
-->
<project name="config">

    <!-- kissy 主目录 -->
    <property name="kissy.dir" location="${ant.file.config}/../../"/>
    <!-- kissy 工具目录 -->
    <property name="tools.dir" location="${kissy.dir}/tools/"/>
    <property name="bin.dir" location="${kissy.dir}/bin/"/>
    <property name="coverage.report.dir" location="${kissy.dir}/coverage-report/"/>
    <property name="module-compiler"
              location="${tools.dir}/module-compiler/module-compiler.jar"/>
    <property name="closure-compiler"
              location="${tools.dir}/closure-compiler/closure-compiler.jar"/>
    <property name="js-cover"
              location="${tools.dir}/js-cover/JSCover-all.jar"/>
    <property name="yui-compressor"
              location="${tools.dir}/yui-compressor/yui-compressor.jar"/>
    <property name="kissy.build.dir" location="${kissy.dir}/build/"/>
    <property name="kissy.src.dir" location="${kissy.dir}/src/"/>

    <property name="version" value="1.47"/>
    <property name="cdn.version" value="1.4.7"/>
    <property name="charset" value="utf-8"/>
    <property name="js-css.files" value="**/*.js,**/*.css"/>
    <property name="js-css.min.files" value="**/*-min.js,**/*-min.css"/>

    <property name="git.origin" value="origin"/>
    <property name="git.remote" value="remote"/>
    <property name="git.gh-pages" value="1.4.x"/>
    <property name="git.master" value="1.4.x"/>
    <property name="git.dev" value="1.4.x"/>
    <!--<property name="bom" value="&#xFEFF;"/>-->

</project>