
.ks-bar-item-separator{
	width : 0;
	height : 15px;
	border-left : solid 1px #E6E6E6;
	margin: 0 3px;
}


.ks-paggingbar {
	font-size: 12px;
	height: 24px;
	background-color: white;
	overflow: hidden;
}
.ks-bar-item-button{
	margin-left:2px;
}
.ks-paggingbar .ks-button{
	height: 18px;
	padding:2px 8px;
}
.ks-paggingbar .ks-pb-page{
	color: red;
	font: 11px tahoma,arial,verdana,sans-serif;
	height: 14px;
	margin: 0;
	padding: 0;
	width: 25px;
	text-align: center;
}

.ks-number-paggingbar .ks-active{
	border:1px solid #ff6600;
}
.ks-bar-item-text{
	margin-left: 4px;
}