
/*common start*/
.ks-hidden{
	display:none;
}
 
.lp-clear { 
	zoom:1; 
}

.lp-clear:after { 
	content: "."; 
	display: block; 
	height: 0; 
	font-size: 0; 
	clear: both; 
	visibility: hidden; 
}
/*common end*/
.gwt-RadioButton input, .gwt-RadioButton label, .gwt-CheckBox label, .gwt-CheckBox input {
    margin-left:0;
    margin-top:0;
    vertical-align:middle;
}

.pagging-bar, .ks-grid-header-th-inner{
	background: url("../images/grid-back.gif") repeat-x scroll 0 0 transparent;
}

.pb-page-first ,.pb-page-last,.pb-page-next,.pb-page-prev,.pb-page-ok,.pb-item-input,.bar-item-separator,.pagging-bar .bar-item-over ,
.sorted-asc .ks-grid-header-sort-icon,.sorted-desc .ks-grid-header-sort-icon,.ks-grid-cell-error-icon,.ks-grid-error-editor-icon,.ks-grid-column-menu-trigger,.menu-item-icon,
.bar-btn-add,.bar-btn-del,.bar-btn-close,.bar-btn-import,.bar-btn-export,.bar-btn-save,.bar-btn-create{
	background-image:url("../images/grid.gif");
	background-repeat: no-repeat;
}

.ks-grid-view
{
    border-color: #99BCE8;
    border-right: 1px solid #9ACAE0;
    border-style: solid;
    border-width: 1px;
    clear: both;
    overflow: hidden;
}

.ks-grid-header{
	overflow: hidden;
	height:25px;
	*position:relative;
}
.ks-grid-header .ks-grid-table{
	*position:absolute;
	*top:0;
	*left:0;
}

.ks-grid-table
{
    border-collapse:separate;
}

.ks-grid-panel
{
    width:100%;    
	background-color:white;
}
.ks-grid-header-th .gwt-CheckBox ,.ks-grid-body-cell-inner .gwt-CheckBox
{
    vertical-align:middle;
    padding:4px;
    vertical-align:middle;
    text-align:center;
	
}



.ks-grid-header-th {
	border-left:1px solid #EEEEEE;
    border-right:1px solid #D0D0D0;
	border-bottom:1px solid #C5C5C5;
	cursor:default;
	/*background: url("../images/grid3-hrow.gif") repeat scroll 0 -2px #C5C5C5;*/
}

.ks-grid-body-cell,.ks-grid-body-cell-empty
{
    border-right:1px solid  #C5C5C5;
	border-left: 1px solid #EEEEEE;
    color:#333;
    overflow:hidden;
    line-height: 18px;
    
}


.ks-grid-header-th-inner 
{
    height:24px;
	overflow:hidden;
	font-weight:normal;
	color: #333;
    background-position: 0 0;
	position:relative;
 }
.ks-grid-header-inner-title
{
	line-height:22px;
    float:left;
    font-size: 12px;
    padding: 0 0 0 4px;
	
}

.ks-grid-header-sort-icon{
	 float:left;
	 width:15px;
}
 
.ks-grid-column-menu-trigger{
	cursor:pointer;
	display:none;
	position:absolute;
	right:0;
	top:0;
	width:14px;
	height:24px;
	background-position: 0 -140px;
}

.hover .ks-grid-column-menu-trigger{
	display:block;

}
 .ks-grid-header-th.hover
 {
     border-left-color: #AACCF6;
     border-right-color: #AACCF6;
     /*background: url("../images/grid3-hrow-over.gif") repeat-x scroll 0 0 transparent;*/
 }
 .hover .ks-grid-header-th-inner {
	background-position: 0 -70px;
 }
 

.sorted-asc .ks-grid-header-sort-icon
{
     background-position:5px -52px;
}
.hover .sorted-asc .ks-grid-header-sort-icon
{
	background-position:5px -92px;
}

.sorted-desc .ks-grid-header-sort-icon
{
     background-position:5px -72px;
}
.hover .sorted-desc .ks-grid-header-sort-icon
{
	  background-position:5px -112px;
}
.ks-grid-table td.text,.ks-grid-table td.left
{
    text-align:left;    
}


.ks-grid-table td.image, .ks-grid-table th.image,.ks-grid-table td.center, .ks-grid-table th.center
{
     text-align:center;
}


.ks-grid-header-th-empty,.ks-grid-body-cell-empty
{
    padding:0;
    margin:0;
}


.ks-grid-table th.hide,.ks-grid-table td.hide {
    display:none;
}



.ks-grid-header-checked-column ,.ks-grid-row-checked-column
{
    
    text-align:center;
    width:30px;
    vertical-align: middle;
	 border-left-width: 0;
}

.ks-grid-header-checked-column .ks-grid-header-th-inner,.ks-grid-row-checked-column .ks-grid-body-cell-inner
{
    width:30px;
}

/*行数据*/
.ks-grid-row{
	
}
.ks-grid-row-odd{
	background-color:#fff;
}
.ks-grid-row-even{
	background-color:#f0f0f0;
}
.ks-grid-row-over
{
    background-color:#ebebeb;
}
.ks-grid-row-over .ks-grid-body-cell-inner{
	 border-color:#DDDDDD;
}

.ks-grid-body-scroll
{
     overflow:auto;    
	 zoom:1;
	 position:relative;
}

.ks-grid-row-selected 
{
    background-color:#DFE8F6;
}

.ks-grid-row-selected  .ks-grid-body-cell-inner{
	
	/*border-bottom: 1px dotted #A3BAE9;
	border-top: 1px dotted #A3BAE9;*/
}

.ks-grid-empty-row-cell
{
    border-left:1px solid #9ACAE0;
    border-right: 1px solid #9ACAE0;
    border-bottom: 1px solid #9ACAE0;
    text-align:center;
    vertical-align:middle;
    height:50px;
}


.ks-grid-body-cell-inner
{
    padding: 2px 0;  
	/*position:relative;*/
	border-width: 1px 0; 

	position:relative;
	overflow: hidden;
	
}

.ks-grid-body-cell-text
{
    font-size:12px;
    padding:0 4px;    
    display:block;
    min-height:20px;
	line-height : 20px;
    min-width:25px;
	_height:20px;
    
}
.ks-grid-error-cell .ks-grid-body-cell-text{
	padding-right:20px;
}


.ks-grid-cell-error-icon{
	display: block;
	height: 20px;
	width: 20px;
	position: absolute;
	top: 0;
	right: 0;
	background-position : 0 -334px;
}

.ks-grid-error-cell{
	position:relative;
}


.ks-grid-dirty-cell{
	background: url("../images/dirty.gif") no-repeat 0 0 transparent;
}

.ks-grid-body-cell,.ks-grid-body-cell-empty{
    /*border-bottom:1px solid #EDEDED;*/
    word-break: break-all;
	word-wrap:break-word;
	

}
.ks-grid-command{
	color:#113377;
	cursor:pointer;
}

.ks-grid-command{
	color:#3366cc;
	cursor:pointer;
}




/**
*
*/
.ks-grid-command:hover{
	color:#ff6600;
}
.ks-grid-command.disable{
	color:#ccc;
}

/*grid editor*/
.ks-grid-error-editor-icon{
	display:none;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	right: 0;
	background-position : 0 -334px;
}

.ks-grid-error-editor .ks-grid-error-editor-icon{
	display:block;
}

.ks-grid-editable-cell .ks-grid-body-cell-text{
	border:1px solid #fff;
}

.ks-grid-row-even .ks-grid-editable-cell .ks-grid-body-cell-text{
	border:1px solid #f0f0f0;
}

.ks-grid-row-selected .ks-grid-editable-cell .ks-grid-body-cell-text{
	border:1px solid #DFE8F6;
}

.ks-grid-row-over .ks-grid-editable-cell .ks-grid-body-cell-text{
	border:1px solid #7EADD9;
	background-color:#fff;
}


.ks-grid-editor{
	background-color:white;
}
.lp-form-checkbox-field{
	margin:0;
}

 /** 多选编辑器 */

.lp-multiple-wrap{
	border:1px solid #98c0f4;
	background-color:white;
}

.lp-form-multiple-field{
	border:1px solid #7eadd9;
	padding-right:17px;
	background: url('http://img04.taobaocdn.com/tps/i4/T1a51DXXpCXXXXXXXX-17-20.jpg') no-repeat right top;
}

.multiple-list{
	width:225px;
	padding:10px;
}

.multiple-item{
	width:75px;/**/
	float:left;
}

.multiple-footer{
	padding:5px;
}

.multiple-item-checkbox{
	margin:5px;
}

.x-btn-default-small button {
	cursor: pointer;
}
.x-btn-default-small {
	background: url('http://img04.taobaocdn.com/tps/i4/T1pwikXnXfXXXXXXXX-2-25.png') no-repeat left top;
	height: 25px;
	display: inline-block;
	margin-left: 5px;
}
.x-btn button {
	border: 0 none;
	margin: 0;
	outline: 0 none;
	overflow: hidden;
	padding: 0;
	vertical-align: bottom;
	width: auto;
	height: 25px;
	line-height: 22px;
	background: url('http://img02.taobaocdn.com/tps/i2/T10eWkXb0IXXXXXXXX-200-25.png') no-repeat right top;
	margin-left: 2px;
}

/**
* grid menu
*/


.ks-grid-menu, .ks-grid-column-menu{
	position:absolute;
	padding:2px;
	border: 1px solid #99BCE8;
	background: none repeat scroll 0 0 #F0F0F0;
}
.ks-grid-menu {
	background:url('../images/seperator.gif') no-repeat 27px 2px #F0F0F0;
}
.ks-grid-menu-item,.ks-grid-column-menu-item {
	position:relative;
	width:142px;
}

.menu-item-link {
	/*position:relative;
	top:0;
	left:0;
	z-index:1;*/
    cursor:default;
    display: block;
	
    width:134px;
	height:24px;
    margin: 1px;
    padding: 0 2px;
    text-decoration: none !important;
	border: 1px solid #F0F0F0;
}

.ks-active .menu-item-link{
	background-color: #D9E8FB;
    background-image: -moz-linear-gradient(center top , #E7F0FC, #C7DDF9);
	background-image:linear-gradient(top, #E7F0FC,#C7DDF9);
    border: 1px solid #A9CBF5;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    -ms-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
    cursor: pointer;
	overflow:hidden;
   
}

.menu-item-text {
    color: #222222;
    font-size: 11px;
	line-height: 20px;
    position: relative;
	top:-4px;
}

.menu-item-icon{
	display:inline-block;
	width: 16px;
	height:16px;
	margin: 4px 11px 0 2px;
	border:0 solid #fff;
}

.menu-sort-asc .menu-item-icon{
	background-position: 0 -380px;
}

.menu-sort-desc .menu-item-icon{
	background-position: -30px -380px;
}

.menu-cols-icon .menu-item-icon{
	background-position: -60px -380px;
}

.menu-item-arrow{
	position:absolute;
	top:0;
	right:0;
	background-position: -95px -376px;
}

.ks-grid-menu-item-separator{
    background-color: white;
    border-top: 1px solid #E0E0E0;
    height: 1px;
    overflow: hidden;
	width:142px;
}

.menu-item-checked .menu-item-icon{
	background-position: -130px -380px;
}
.menu-item-unchecked .menu-item-icon{
	background-position: -160px -380px;
}

.lp-item-disabled  .menu-item-text{
	color:#bbb;
}
.lp-item-disabled .menu-sort-asc .menu-item-icon{
	background-position: 0 -410px;
}

.lp-item-disabled .menu-sort-desc .menu-item-icon{
	background-position: -30px -410px;
}






