/* docs 通用样式 */

.w866 #header, .w866 #content, .w866 #footer { width: 866px; }
.grid-s232m0 .main-wrap { margin-left: 232px; }
.grid-s232m0 .col-sub { width: 232px; margin-left: -100%; }

a { color: #1F75CC; }


#header { padding: 25px 0 5px; position: relative; }
.rel-nav { position: absolute; right: 10px; top: 10px; }

.col-sub { background: url(col_sub_rounded_top.gif) no-repeat 0 0; padding-top: 2px; }
.sub-wrap { background: #E9F4FF; border: 1px solid #AACCEE; border-top: none; padding: 10px 20px 20px; }
.main-wrap { border-top: 1px solid #AACCEE; padding: 10px 0 10px 30px; }

#footer { background: url(dotted_line.gif) repeat-x 0 0; padding: 15px 10px; margin-top: 20px; }
.copyright { color: #AAA; text-align: center; }

.col-sub a { color: #1F75CC; }
.loc { margin-left: -10px; }
.toc h3 { color: #555; font-size: 14px; margin: 10px 0 5px; }
.toc ul { padding-left: 20px; }

.col-main p { margin: 1em 0; }
.col-main blockquote, .col-main ul, .col-main ol { margin: 1em; }
.col-main ol li { list-style: decimal outside; margin-left: 20px; }
.col-main ul li { list-style: none; background: url(dot.gif) no-repeat 0 50%; padding-left: 15px; }
.col-main dl { margin: 1em 0; }
.col-main dl dd { margin-left: 1em; }
.col-main pre { padding-top: 15px; }
.col-main pre code { display: block; margin-top: -20px; }

.section h3 { background: url(dotted_line.gif) repeat-x 0 100%; padding: 5px 0 2px; margin: 0 0 15px -15px; }

.member { background: url(dotted_line.gif) repeat-x 0 100%; margin-bottom: 15px; }
.member h4 { font-weight: normal; }
.member h4 a { color: #000; }
.member h4 a:hover { text-decoration: none; }
.member .detail { padding: 5px 20px; }
.member .detail p { margin: 0.5em 0; }
.method h4 code, .widget h4 code { display: block; color: #B84545; }
.method h4 em { font-weight: normal; }
.example-code { background-color: #F4FAFF; border: 1px solid #AACCEE; padding: 0 20px 15px; margin-bottom: 5px; }
.detail dt { font-weight: bold; }

.section { -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.summary { background-color: #FFFFE6; border: 1px solid #CACACA; padding: 0 20px; margin: 5px 0 10px -15px; }
.notes { background-color: #E5EFFE; border: 1px solid #B4D0F3; padding: 0 20px; margin: 5px 0 10px -15px; }

.notice { background: url(notice.png) no-repeat 0 2px; padding-left: 20px; }
.tips { background: url(info.png) no-repeat 0 2px; padding-left: 20px; }

li .submod-key { display: inline-block; width: 120px; }
