/**
 * Box Extended
 * @creator 沉鱼<fool2fish@gmail.com>
 * @base box.css
 */

/***********************************************************************************************************************
 * @强调样式
 **********************************************************************************************************************/
.ks-box-strong .ks-box-top s{background-position:-3px -200px;}
.ks-box-strong .ks-box-top b{background-position:0 -200px;}
.ks-box-strong .ks-box-bottom s{background-position:-3px -203px;}
.ks-box-strong .ks-box-bottom b{background-position:0 -203px;}
.ks-box-strong .ks-box-hd{border-color:#80b2ff;background-color:#a0beff;background-position:0 -210px;}
.ks-box-strong .ks-box-bd{border-color:#80b2ff;}

/***********************************************************************************************************************
 * @标准样式
 **********************************************************************************************************************/
.ks-box-normal .ks-box-top s{background-position:-3px 0;}
.ks-box-normal .ks-box-top b{background-position:0 0;}
.ks-box-normal .ks-box-bottom s{background-position:-3px -3px;}
.ks-box-normal .ks-box-bottom b{background-position:0 -3px;}
.ks-box-normal .ks-box-hd{border-color:#bad6ff;background-color:#cce1ff;background-position:0 -10px;}
.ks-box-normal .ks-box-bd{border-color:#bad6ff;}

/***********************************************************************************************************************
 * @弱化样式
 **********************************************************************************************************************/
.ks-box-weak .ks-box-top s{background-position:-3px -100px;}
.ks-box-weak .ks-box-top b{background-position:0 -100px;}
.ks-box-weak .ks-box-bottom s{background-position:-3px -103px;}
.ks-box-weak .ks-box-bottom b{background-position:0 -103px;}
.ks-box-weak .ks-box-hd{border-color:#ddd;background-color:#f2f2f2;background-position:0 -110px;}
.ks-box-weak .ks-box-bd{border-color:#ddd;}

/***********************************************************************************************************************
 * @裸样式
 **********************************************************************************************************************/
.ks-box-naked .ks-box-top s,
.ks-box-naked .ks-box-top b,
.ks-box-naked .ks-box-bottom s,
.ks-box-naked .ks-box-bottom b{display:none;}
.ks-box-naked .ks-box-hd{border:none;border-bottom:1px solid #bad6ff;background:#fff;}
.ks-box-naked .ks-box-bd{border:none}